src/flows/Accept_Terms_and_2FA-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Get_QR_Code</name>
        <label>Get QR Code</label>
        <locationX>21</locationX>
        <locationY>24</locationY>
        <apexClass>TOTPPlugin</apexClass>
        <connector>
            <targetReference>IdentityContext</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>qr_url</assignToReference>
            <name>QR_URL_OUTPUT</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>secret</assignToReference>
            <name>SECRET_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>IdentityContext</name>
        <label>IdentityContext</label>
        <locationX>20</locationX>
        <locationY>126</locationY>
        <apexClass>IdentityContextPlugin</apexClass>
        <connector>
            <targetReference>GetUsername</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>LoginFlow_UserId</assignToReference>
            <name>User Id</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>853</locationX>
        <locationY>119</locationY>
        <apexClass>TOTPPlugin</apexClass>
        <connector>
            <targetReference>Login</targetReference>
        </connector>
        <inputParameters>
            <name>OTP_INPUT</name>
            <value>
                <elementReference>OTP_input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OTP_REGISTRATION_INPUT</name>
            <value>
                <elementReference>OTP_reg_input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SECRET_INPUT</name>
            <value>
                <elementReference>secret</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsTokenValid</assignToReference>
            <name>IsValid_OUTPUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>X2FA_Reset</name>
        <label>2FA_Reset</label>
        <locationX>571</locationX>
        <locationY>389</locationY>
        <apexClass>ISSP_2FA_Reset</apexClass>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>AssignToVariable</name>
        <label>AssignToVariable</label>
        <locationX>729</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>ResetCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResetBox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIfReset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinishStep</name>
        <label>FinishStep</label>
        <locationX>506</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/ISSP_Homepage</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>AccessGranted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Access Granted</stringValue>
        </value>
    </constants>
    <constants>
        <name>TreasuryDashboard</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Treasury Dashboard</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecideIfReset</name>
        <label>DecideIfReset</label>
        <locationX>857</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go to Validation</defaultConnectorLabel>
        <rules>
            <name>Go_to_Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResetCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2FA_Reset</targetReference>
            </connector>
            <label>Go to Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Accepted_Terms</name>
        <label>Has Accepted Terms?</label>
        <locationX>26</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Get_TD_Application_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.ToU_accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Terms_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_TD_Access</name>
        <label>Has TD Access</label>
        <locationX>217</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>FinishStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Login</defaultConnectorLabel>
        <rules>
            <name>Go_to_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccessGranted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration</targetReference>
            </connector>
            <label>Go to Registration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Login</name>
        <label>Login</label>
        <locationX>713</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Registration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Token is invalid</defaultConnectorLabel>
        <rules>
            <name>Token_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTokenValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Token is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>217</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Get_Token_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get TOTP</defaultConnectorLabel>
        <rules>
            <name>Register</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>secret</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Screen</targetReference>
            </connector>
            <label>Register</label>
        </rules>
    </decisions>
    <label>Accept Terms and 2FA</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_TD_Access</name>
        <label>Check TD Access</label>
        <locationX>213</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_TD_Access</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portal_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Right__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccessGranted</elementReference>
            </value>
        </filters>
        <object>Portal_Application_Right__c</object>
        <outputAssignments>
            <assignToReference>Access</assignToReference>
            <field>Right__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TD_Application_Id</name>
        <label>Get TD Application Id</label>
        <locationX>215</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_TD_Access</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TreasuryDashboard</elementReference>
            </value>
        </filters>
        <object>Portal_Applications__c</object>
        <outputAssignments>
            <assignToReference>ApplicationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUsername</name>
        <label>GetUsername</label>
        <locationX>22</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TD_Application_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Username</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ToU_accepted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Accepted_Terms</name>
        <label>Set Accepted Terms</label>
        <locationX>27</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Get_TD_Application_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_ToU_accepted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToU_accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Accept_Terms_Screen</name>
        <label>Accept Terms Screen</label>
        <locationX>26</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Accepted_Terms</targetReference>
        </connector>
        <fields>
            <name>terms_text_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please note that by checking the box below, you are accepting the Terms of Use for our portal.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accept_Terms</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;http://www.iata.org/Pages/terms.aspx&quot; TARGET=&quot;_blank&quot;&gt;I have read and accept the Terms of Use conditions&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You must Accept Terms to be able to login.</errorMessage>
                <formulaExpression>{!Accept_Terms}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Token_Screen</name>
        <label>Get Token Screen</label>
        <locationX>577</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignToVariable</targetReference>
        </connector>
        <fields>
            <name>GetTokenTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter Time-Based Token&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetTokenInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the token from the Salesforce Authenticator app on your mobile device (or the online authenticator in your browser).&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;For help on how to use the authentication applications, please consult the instructions guide you received in the access confirmation email.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OTP_input</name>
            <dataType>String</dataType>
            <fieldText>Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>troubleTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Having trouble?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>troubleMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you can&amp;apos;t access your authenticator app and want to register a new device, check the &amp;apos;Reset registered device&amp;apos; checkbox and click Next.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you want to register a new device, please keep in mind that your current device will no longer provide valid tokens because you can only have one registered device at a time.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResetBox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Reset registered device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registration_Screen</name>
        <label>Registration Screen</label>
        <locationX>851</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>RegistrationTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Add a Time-based Token&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationInstructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Download the &lt;B&gt;Salesforce Authenticator&lt;/B&gt; app on your mobile device, scan this QR code, then enter the token.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can download &lt;A HREF=&quot;https://itunes.apple.com/app/salesforce-authenticator/id782057975&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;here&lt;/U&gt;&lt;/A&gt; the Apple app or &lt;A HREF=&quot;https://play.google.com/store/apps/details?id=com.salesforce.authenticator&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;here&lt;/U&gt;&lt;/A&gt;&lt;A HREF=&quot;https://play.google.com/store/apps/details?id=com.salesforce.authenticator&quot; TARGET=&quot;_blank&quot;&gt; the Android app.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>gauth_text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you don&amp;apos;t have a smartphone or don&amp;apos;t want to use one or if you are having problems scanning the QR code and getting the correct token, you can click &lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;A HREF=&quot;http://gauth.apps.gbraad.nl/&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;here&lt;/U&gt;&lt;/A&gt;&lt;/FONT&gt; and use this online version of the Google Authenticator.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;For help on how to use the authentication applications, please consult the instructions guide you received in the access confirmation email.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationURL2</name>
            <fieldText>&lt;table style=&quot;width:100%&quot;&gt;
&lt;tr&gt;
&lt;td align=&quot;center&quot; &gt;
&lt;IMG SRC=&quot;{!qr_url}&quot; &gt;
&lt;/td&gt;
&lt;td &gt;
&lt;IMG src=&quot;/img/2fa_image.png&quot; width=&quot;250&quot; height=&quot;200&quot; &gt;
&lt;/td&gt;&lt;/table&gt;
&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OTP_reg_input</name>
            <dataType>String</dataType>
            <fieldText>Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you can&amp;apos;t scan the QR code, enter this data into your authenticator app&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account name: &lt;B&gt;{!UserObject.Username}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Key: &lt;B&gt;{!secret}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_QR_Code</startElementReference>
    <variables>
        <name>Access</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dummy01</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsTokenValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mytest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qr_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResetCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
