src/flows/Account_Context_Activation_SIS_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Flow_Launcher</name>
        <label>Notify Flow Launcher</label>
        <locationX>590</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CurrentUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Output_Success</name>
        <label>Output Success</label>
        <locationX>215</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>FlowSuccessfullyEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Prepare_SIS_Case</name>
        <label>Prepare SIS Case</label>
        <locationX>970</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>SISCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SisCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTInternalCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.CaseArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E&amp;F Operations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.Reason1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Airline/Operator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.BSPCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.IATA_Iso_Country_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Region_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SISCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AirlineParticipationHeadOfficeQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_SIS_Case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AirlineParticipationHeadOffice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AirlineParticipationHeadOffice</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeInternalCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InternalCasesEuropeSCE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_has_SIS_ID</name>
        <label>Account has SIS ID ?</label>
        <locationX>204</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Get_SIS_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIS_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.SIS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.EF_SIS_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.EF_SIS_Designator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Success</targetReference>
            </connector>
            <label>SIS OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_has_SIS_Id_2</name>
        <label>Account has SIS Id ?</label>
        <locationX>583</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Notify_Flow_Launcher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIS_ID_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SisAccount.SIS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SisAccount.EF_SIS_Designator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SisAccount.EF_SIS_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Success</targetReference>
            </connector>
            <label>SIS ID OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Created</name>
        <label>Is Case Created ?</label>
        <locationX>529</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RT_Internal_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SISCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_SIS_Process</targetReference>
            </connector>
            <label>Case already created</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Label.SisProcessEmailBody}, 
&quot;{0}&quot;, {!CurrentUserName}),
&quot;{1}&quot;, {!SubflowSisEvent.Case_Number__c}),
&quot;{2}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.SisProcessEmailSubject}, &quot;{0}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>SisCaseSubject</name>
        <dataType>String</dataType>
        <expression>{!$Label.SisProcessCaseSubject}</expression>
    </formulas>
    <interviewLabel>Account Context Activation SIS Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation SIS Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_SIS_Case</name>
        <label>Insert SIS Case</label>
        <locationX>1108</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Wait_for_SIS_Process</targetReference>
        </connector>
        <inputReference>SISCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Airline_Headoffice_Queue</name>
        <label>Get Airline Headoffice Queue</label>
        <locationX>827</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_SIS_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AirlineParticipationHeadOffice</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>AirlineParticipationHeadOfficeQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RT_Internal_Case</name>
        <label>Get Case RT Internal Case</label>
        <locationX>690</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Airline_Headoffice_Queue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeInternalCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTInternalCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SIS_Account</name>
        <label>Get SIS Account</label>
        <locationX>828</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_has_SIS_Id_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SisAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SIS_ID__c</queriedFields>
        <queriedFields>EF_SIS_Designator__c</queriedFields>
        <queriedFields>EF_SIS_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SIS_Case</name>
        <label>Get SIS Case</label>
        <locationX>378</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Created</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BSPCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.IATA_Iso_Country_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E&amp;F Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reason1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Airline/Operator</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeInternalCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Region_formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SisCaseSubject</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SISCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Account_has_SIS_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AirlineParticipationHeadOfficeQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>FlowSuccessfullyEnded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RTInternalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SISCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SubflowSisEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subflow_SIS__e</objectType>
    </variables>
    <waits>
        <name>Wait_for_SIS_Process</name>
        <label>Wait for SIS Process</label>
        <locationX>1108</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Case_has_been_closed</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_SIS_Account</targetReference>
            </connector>
            <eventType>Subflow_SIS__e</eventType>
            <inputParameters>
                <name>Account_Id__c</name>
                <value>
                    <elementReference>Account.Id</elementReference>
                </value>
            </inputParameters>
            <label>Case has been closed</label>
            <outputParameters>
                <assignToReference>SubflowSisEvent</assignToReference>
                <name>Subflow_SIS__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
