src/flows/Account_Context_Activation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FlowGetBusinessContextsInvocable</name>
        <label>Get Available Business Context</label>
        <locationX>533</locationX>
        <locationY>51</locationY>
        <actionName>FlowGetBusinessContextsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Business_context_available</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BusinessContextAvailable</assignToReference>
            <name>businessContextAvailable</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>BUSINESS_CONTEXT_EAF</name>
        <dataType>String</dataType>
        <value>
            <stringValue>E&amp;F</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Business_context_available</name>
        <label>Business context available ?</label>
        <locationX>525</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Business_context_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>can choose a context</defaultConnectorLabel>
        <rules>
            <name>no_business_context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessContextAvailable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_business_context_available_screen</targetReference>
            </connector>
            <label>no business context</label>
        </rules>
    </decisions>
    <decisions>
        <name>E_F_Business_Context</name>
        <label>E&amp;F Business Context ?</label>
        <locationX>274</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Unrecognized Context</defaultConnectorLabel>
        <rules>
            <name>E_F_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedBusinessContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BUSINESS_CONTEXT_EAF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_F_Subflow</targetReference>
            </connector>
            <label>E&amp;F Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Authority</name>
        <label>Is Authority ?</label>
        <locationX>313</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>FlowGetBusinessContextsInvocable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>authority account</defaultConnectorLabel>
        <rules>
            <name>branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Hierarchy_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Context_Activation_Error</targetReference>
            </connector>
            <label>branch</label>
        </rules>
        <rules>
            <name>airport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Airport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Context_Activation_Error</targetReference>
            </connector>
            <label>airport</label>
        </rules>
    </decisions>
    <description>Allows user to send the account to SAP then EMS. First, it look at user custom permission, with a custom metadata &quot;Business Context Activation&quot;,  it will then validate some required fields before hitting touchpoint.</description>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Account Context Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>169</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Authority</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeDeveloperName__c</queriedFields>
        <queriedFields>Hierarchy_Level__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_Context_Activation_Error</name>
        <label>Account Context Activation Error</label>
        <locationX>321</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNotAuthorityAccountMsg</name>
            <fieldText>&lt;p&gt;Dear User,&lt;/p&gt;&lt;p&gt;The Account Context Activation flow can not be launched for an Airport or a Branch account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Business_context_selection</name>
        <label>Business context selection</label>
        <locationX>283</locationX>
        <locationY>385</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>E_F_Business_Context</targetReference>
        </connector>
        <fields>
            <name>BusinessContextPicklist</name>
            <extensionName>c:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Business Context</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>concatedValues</name>
                <value>
                    <elementReference>BusinessContextAvailable</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBusinessContext</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_business_context_available_screen</name>
        <label>No business context available screen</label>
        <locationX>763</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoBusinessContextAvailableMsg</name>
            <fieldText>&lt;p&gt;There is no business context available.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>E_F_Subflow</name>
        <label>E&amp;F Subflow</label>
        <locationX>537</locationX>
        <locationY>544</locationY>
        <flowName>Account_Context_Activation_E_F_Subflow</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessContextAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBusinessContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
