src/flows/Account_Context_Activation_SAP_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Flow_Launcher</name>
        <label>Notify Flow Launcher</label>
        <locationX>828</locationX>
        <locationY>183</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserFlowLauncher.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Ouput_Success</name>
        <label>Ouput Success</label>
        <locationX>831</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>FlowSuccessfullyEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Wait_for_Integration_Log_to_be_updated_by_Mulesoft</name>
        <label>Wait for Integration Log to be updated by Mulesoft</label>
        <locationX>937</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>WaitForNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>PLATFORM_EVENT_TYPE_CREATE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </constants>
    <decisions>
        <name>has_been_relaunched</name>
        <label>has been relaunched ?</label>
        <locationX>305</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_ARBC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>first execution</defaultConnectorLabel>
        <rules>
            <name>second_execution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowHasBeenRelaunched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Integration_Log</targetReference>
            </connector>
            <label>second execution</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAP_customer_creation_succeeded</name>
        <label>SAP customer creation succeeded ?</label>
        <locationX>590</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Notify_Flow_Launcher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SAP KO</defaultConnectorLabel>
        <rules>
            <name>SAP_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntegrationLog.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ouput_Success</targetReference>
            </connector>
            <label>SAP OK</label>
        </rules>
    </decisions>
    <description>Send an Address Role Business Context platform event so that mulesoft can spread the account creation in SAP and DMS, then wait for Mulesoft to respond back (by updating Integration Log related to the address role business context platform event)</description>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.SapProcessEmailBody}, 
&quot;{0}&quot;, {!UserFlowLauncher.Name}),
&quot;{1}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.ComplianceProcessEmailSubject}, &quot;{0}&quot;, {!Account.Name})</expression>
    </formulas>
    <interviewLabel>Account Context Activation SIS Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation SAP Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Address_Role_Business_Context_Event</name>
        <label>Publish Address Role Business Context Event</label>
        <locationX>776</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Wait_for_Integration_Log_to_be_updated_by_Mulesoft</targetReference>
        </connector>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <elementReference>PLATFORM_EVENT_TYPE_CREATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>AddressRoleBusinessContext.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType__c</field>
            <value>
                <elementReference>RecordTypeARBC.Name</elementReference>
            </value>
        </inputAssignments>
        <object>AddressRoleBusinessContext__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Integration_Log</name>
        <label>Get Integration Log</label>
        <locationX>312</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAP_customer_creation_succeeded</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntegrationLogId</elementReference>
            </value>
        </filters>
        <object>Integration_Log__c</object>
        <outputReference>IntegrationLog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Status_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ARBC</name>
        <label>Get Record Type ARBC</label>
        <locationX>610</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Publish_Address_Role_Business_Context_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddressRoleBusinessContext.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeARBC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>has_been_relaunched</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddressRoleBusinessContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Role_Business_Context__c</objectType>
    </variables>
    <variables>
        <description>Determines if the flow has been relaunched by the trigger on Integration Log obj if status has changed</description>
        <name>FlowHasBeenRelaunched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FlowSuccessfullyEnded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IntegrationLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration_Log__c</objectType>
    </variables>
    <variables>
        <description>Id of the Integration Log related to the platform event that has been created in the first execution of this flow</description>
        <name>IntegrationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeARBC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Required with fields : Id, Name, Email</description>
        <name>UserFlowLauncher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Wait for Intregration log created by the platform event to be changed by Mulesoft on status field, then the trigger IntegrationLogTrigger will relaunch the flow a second time</description>
        <name>WaitForNextAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
