src/flows/Account_Context_Activation_E_F_Relauncher.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Account_Id</name>
        <label>Set Account Id</label>
        <locationX>396</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessAddress.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BUSINESS_CONTEXT_EAF</name>
        <dataType>String</dataType>
        <value>
            <stringValue>E&amp;F</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Id_is_filled</name>
        <label>Account Id is filled ?</label>
        <locationX>198</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Integration_Log_id_is_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>account_id_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>account id filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integration_Log_id_is_filled</name>
        <label>Integration Log id is filled ?</label>
        <locationX>382</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>integration_log_id_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntegrationLogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Integration_Log</targetReference>
            </connector>
            <label>integration log id filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Integration_Log_was_filled</name>
        <label>Integration Log was filled ?</label>
        <locationX>198</locationX>
        <locationY>1578</locationY>
        <defaultConnector>
            <targetReference>Get_Business_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not filled</defaultConnectorLabel>
        <rules>
            <name>was_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntegrationLogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_that_launched_Account_Context_Activation</targetReference>
            </connector>
            <label>was filled</label>
        </rules>
    </decisions>
    <description>It skips the Account Context Activation screenflow and Account Context Activation E&amp;F screenflow, it is used by a process builder (CaseSisClosed or CaseComplianceClosed) and by a trigger (IntegrationLogTrigger) to relaunch Account Context Activation E&amp;F Background Subflow with the Business Context E&amp;F et the Sales area selected by the user (stored in Address Role Business Context).</description>
    <interviewLabel>Account Context Activation E&amp;F Relauncher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation E&amp;F Relauncher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>207</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_E_F_Account_Role</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Due_Diligence_Status__c</queriedFields>
        <queriedFields>Date_of_last_clearance__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SIS_ID__c</queriedFields>
        <queriedFields>RecordTypeDeveloperName__c</queriedFields>
        <queriedFields>Verification_Status__c</queriedFields>
        <queriedFields>IATA_ISO_Country__c</queriedFields>
        <queriedFields>Business_City_Name__c</queriedFields>
        <queriedFields>Business_State_Name__c</queriedFields>
        <queriedFields>Business_Postal_Code__c</queriedFields>
        <queriedFields>Business_Street__c</queriedFields>
        <queriedFields>IATA_Iso_Country_Name__c</queriedFields>
        <queriedFields>Region_formula__c</queriedFields>
        <queriedFields>EF_SIS_Designator__c</queriedFields>
        <queriedFields>EF_SIS_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Role_Business_Context</name>
        <label>Get Address Role Business Context</label>
        <locationX>40</locationX>
        <locationY>1926</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_that_launched_Account_Context_Activation</targetReference>
        </connector>
        <filters>
            <field>Address_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessAddressRole.Id</elementReference>
            </value>
        </filters>
        <object>Address_Role_Business_Context__c</object>
        <outputReference>AddressRoleBusinessContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Activation_Context_Status__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Role_Business_Context_From_Integration_Log</name>
        <label>Get Address Role Business Context</label>
        <locationX>393</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Address_Role_From_Integration_Log</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntegrationLog.Record_Id__c</elementReference>
            </value>
        </filters>
        <object>Address_Role_Business_Context__c</object>
        <outputReference>AddressRoleBusinessContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_Role__c</queriedFields>
        <queriedFields>Account_Activation_Context_Status__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Address</name>
        <label>Get Business Address</label>
        <locationX>39</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Address_Role</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Business_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>BusinessAddress</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Address_From_Integration_Log</name>
        <label>Get Business Address</label>
        <locationX>396</locationX>
        <locationY>769</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessAddressRole.Address__c</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>BusinessAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Address_Role</name>
        <label>Get Business Address Role</label>
        <locationX>39</locationX>
        <locationY>1760</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Address_Role_Business_Context</targetReference>
        </connector>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessAddress.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <object>Address_Role__c</object>
        <outputReference>BusinessAddressRole</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Address_Role_From_Integration_Log</name>
        <label>Get Business Address Role</label>
        <locationX>396</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Address_From_Integration_Log</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddressRoleBusinessContext.Address_Role__c</elementReference>
            </value>
        </filters>
        <object>Address_Role__c</object>
        <outputReference>BusinessAddressRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>206</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_E_F_Contact_Roles</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_E_F_Account_Role</name>
        <label>Get E&amp;F Account Role</label>
        <locationX>206</locationX>
        <locationY>1075</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Functional_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BUSINESS_CONTEXT_EAF</elementReference>
            </value>
        </filters>
        <object>Account_Role__c</object>
        <outputReference>AccountRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_E_F_Contact_Roles</name>
        <label>Get E&amp;F Contact Roles</label>
        <locationX>206</locationX>
        <locationY>1398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Integration_Log_was_filled</targetReference>
        </connector>
        <filters>
            <field>Account_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Functional_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BUSINESS_CONTEXT_EAF</elementReference>
            </value>
        </filters>
        <object>Account_Contact_Role__c</object>
        <outputReference>ContactRoles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Integration_Log</name>
        <label>Get Integration Log</label>
        <locationX>393</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Address_Role_Business_Context_From_Integration_Log</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntegrationLogId</elementReference>
            </value>
        </filters>
        <object>Integration_Log__c</object>
        <outputReference>IntegrationLog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_that_launched_Account_Context_Activation</name>
        <label>Get User that launched Account Context Activation</label>
        <locationX>204</locationX>
        <locationY>1926</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Restart_Account_Context_Activation_E_F_Background_Subflow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddressRoleBusinessContext.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserFlowLauncher</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Id_is_filled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Restart_Account_Context_Activation_E_F_Background_Subflow</name>
        <label>Restart Account Context Activation E&amp;F Background Subflow</label>
        <locationX>204</locationX>
        <locationY>2086</locationY>
        <flowName>Account_Context_Activation_E_F_Background_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountRole</name>
            <value>
                <elementReference>AccountRole</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AddressRoleBusinessContext</name>
            <value>
                <elementReference>AddressRoleBusinessContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClosedCaseNumber</name>
            <value>
                <elementReference>ClosedCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactRoles</name>
            <value>
                <elementReference>ContactRoles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IntegrationLogId</name>
            <value>
                <elementReference>IntegrationLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RestartComplianceSubflow</name>
            <value>
                <elementReference>RestartComplianceSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RestartSapSubflow</name>
            <value>
                <elementReference>RestartSapSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RestartSisSubflow</name>
            <value>
                <elementReference>RestartSisSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserFlowLauncher</name>
            <value>
                <elementReference>UserFlowLauncher</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Required to launch this flow</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Role__c</objectType>
    </variables>
    <variables>
        <name>AddressRoleBusinessContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Role_Business_Context__c</objectType>
    </variables>
    <variables>
        <name>BusinessAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>BusinessAddressRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Role__c</objectType>
    </variables>
    <variables>
        <description>Compliance or SIS Case number. Only when flow is launched by Process Builder &quot;CaseComplianceClosed&quot; or &quot;CaseSISClosed&quot;</description>
        <name>ClosedCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IntegrationLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration_Log__c</objectType>
    </variables>
    <variables>
        <description>Id of the Integration Log related to platform event sent in Account Context Activation SAP Subflow</description>
        <name>IntegrationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RestartComplianceSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RestartSapSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RestartSisSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserFlowLauncher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
