src/flows/Account_Context_Activation_E_F_Background_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_account_role_flow_status</name>
        <label>Update account role flow status</label>
        <locationX>814</locationX>
        <locationY>403</locationY>
        <actionName>FlowUpdateAccountRoleWithoutSharing</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountRoleId</name>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStatus</name>
            <value>
                <elementReference>NewAccountRoleFlowStatus</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_ARBC_status</name>
        <label>Update ARBC status</label>
        <locationX>814</locationX>
        <locationY>535</locationY>
        <actionName>FlowUpdateARBCWithoutSharing</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_account_role_flow_status</targetReference>
        </connector>
        <inputParameters>
            <name>addressRoleBusinessContextId</name>
            <value>
                <elementReference>AddressRoleBusinessContext.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStatus</name>
            <value>
                <elementReference>NewAccountRoleFlowStatus</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Account_Role_Detail_RT_Client</name>
        <label>Account Role Detail RT Client</label>
        <locationX>798</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>AccountRoleDetailRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RtAccountRoleDetailClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Role_Detail_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Role_Detail_RT_Operator</name>
        <label>Account Role Detail RT Operator</label>
        <locationX>800</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AccountRoleDetailRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RtAccountRoleDetailOperator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Role_Detail_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Role_Detail_to_the_list_of_Contact_Role_Details</name>
        <label>Add Contact Role Detail to the list of Contact Role Details</label>
        <locationX>1560</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRoleDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Success</name>
        <label>Output Success</label>
        <locationX>814</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>FlowSuccessfullyEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Flow_Status_To_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Account_Role_Detail</name>
        <label>Prepare Account Role Detail</label>
        <locationX>1084</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>AccountRoleDetail.Account_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRoleDetail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRoleDetailRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Account_Role_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Contact_Role_Detail</name>
        <label>Prepare Contact Role Detail</label>
        <locationX>1560</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleDetail.E_F_Account_Role_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRoleDetail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleDetail.Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRole.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Role_Detail_to_the_list_of_Contact_Role_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set account role flow status to completed</description>
        <name>Set_Flow_Status_To_Completed</name>
        <label>Set Flow Status To Completed</label>
        <locationX>814</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>NewAccountRoleFlowStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ARBC_status</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RtAccountOthers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </constants>
    <constants>
        <name>RtAccountRoleDetailClient</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </constants>
    <constants>
        <name>RtAccountRoleDetailOperator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Operator</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Role_Detail_exists</name>
        <label>Account Role Detail exists ?</label>
        <locationX>588</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Account_RT_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARD_already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRoleDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Success</targetReference>
            </connector>
            <label>ARD already created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_RT_Other</name>
        <label>Account RT = Others ?</label>
        <locationX>590</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Account_Role_Detail_RT_Operator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RtAccountOthers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Role_Detail_RT_Client</targetReference>
            </connector>
            <label>RT Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compliance_OK</name>
        <label>Compliance OK ?</label>
        <locationX>384</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>SIS_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliance_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplianceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ARBC</targetReference>
            </connector>
            <label>Compliance KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAP_OK</name>
        <label>SAP OK ?</label>
        <locationX>392</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Role_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAP_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ARBC</targetReference>
            </connector>
            <label>SAP KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SIS_OK</name>
        <label>SIS OK ?</label>
        <locationX>391</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>SAP_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIS_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SISStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ARBC</targetReference>
            </connector>
            <label>SIS KO</label>
        </rules>
    </decisions>
    <description>Executed in background, it will check case compliance, then it will hit SIS, then SAP, then EMS</description>
    <interviewLabel>Account Context Activation E&amp;F Background Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation E&amp;F Background Subflow</label>
    <loops>
        <name>For_Each_Contact_Role</name>
        <label>For Each Contact Role</label>
        <locationX>1366</locationX>
        <locationY>1031</locationY>
        <assignNextValueToReference>ContactRole</assignNextValueToReference>
        <collectionReference>ContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Contact_Role_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Contact_Role_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Account_Role_Detail</name>
        <label>Insert Account Role Detail</label>
        <locationX>1224</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>For_Each_Contact_Role</targetReference>
        </connector>
        <inputReference>AccountRoleDetail</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Contact_Role_Details</name>
        <label>Insert Contact Role Details</label>
        <locationX>1366</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Output_Success</targetReference>
        </connector>
        <inputReference>ContactRoleDetails</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_ARBC</name>
        <label>Delete ARBC</label>
        <locationX>679</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Update_account_role_flow_status</targetReference>
        </connector>
        <inputReference>AddressRoleBusinessContext</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Role_Detail</name>
        <label>Get Account Role Detail</label>
        <locationX>402</locationX>
        <locationY>786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Role_Detail_exists</targetReference>
        </connector>
        <filters>
            <field>Account_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </filters>
        <object>E_and_F_Account_Role_Detail__c</object>
        <outputReference>AccountRoleDetail</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Role_Detail_RecordTypeId</name>
        <label>Get Account Role Detail RecordTypeId</label>
        <locationX>936</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Account_Role_Detail</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRoleDetailRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AccountRoleDetailRecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Compliance_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Compliance_Subflow</name>
        <label>Compliance Subflow</label>
        <locationX>213</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Compliance_OK</targetReference>
        </connector>
        <flowName>Account_Context_Activation_Compliance_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ComplianceStatus</assignToReference>
            <name>FlowSuccessfullyEnded</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SAP_Subflow</name>
        <label>SAP Subflow</label>
        <locationX>212</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>SAP_OK</targetReference>
        </connector>
        <flowName>Account_Context_Activation_SAP_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AddressRoleBusinessContext</name>
            <value>
                <elementReference>AddressRoleBusinessContext</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SAPStatus</assignToReference>
            <name>FlowSuccessfullyEnded</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SIS_Subflow</name>
        <label>SIS Subflow</label>
        <locationX>214</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>SIS_OK</targetReference>
        </connector>
        <flowName>Account_Context_Activation_SIS_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SISStatus</assignToReference>
            <name>FlowSuccessfullyEnded</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Role__c</objectType>
    </variables>
    <variables>
        <name>AccountRoleDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_and_F_Account_Role_Detail__c</objectType>
    </variables>
    <variables>
        <name>AccountRoleDetailRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the record type for account role detail</description>
        <name>AccountRoleDetailRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AddressRoleBusinessContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Role_Business_Context__c</objectType>
    </variables>
    <variables>
        <name>ComplianceCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>determine if the compliance subflow successfully ended</description>
        <name>ComplianceStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>ContactRoleDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_and_F_Contact_Role_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactRoleDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_and_F_Contact_Role_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>FlowSuccessfullyEnded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Status that it will be set at the end of the flow</description>
        <name>NewAccountRoleFlowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SAPStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SISStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
