src/flows/Account_Context_Activation_E_F_Background_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_success_to_flow_launcher</name>
        <label>Notify success to flow launcher</label>
        <locationX>875</locationX>
        <locationY>633</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_ARBC_status</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserFlowLauncher.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SuccessEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SuccessEmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_account_role_flow_status</name>
        <label>Update account role flow status</label>
        <locationX>876</locationX>
        <locationY>381</locationY>
        <actionName>FlowUpdateAccountRoleWithoutSharing</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountRoleId</name>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStatus</name>
            <value>
                <elementReference>NewAccountRoleFlowStatus</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_ARBC_status</name>
        <label>Update ARBC status</label>
        <locationX>876</locationX>
        <locationY>519</locationY>
        <actionName>FlowUpdateARBCWithoutSharing</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_account_role_flow_status</targetReference>
        </connector>
        <inputParameters>
            <name>addressRoleBusinessContextId</name>
            <value>
                <elementReference>AddressRoleBusinessContext.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStatus</name>
            <value>
                <elementReference>NewAccountRoleFlowStatus</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Account_Role_Detail_RT_Client</name>
        <label>Set Account Role Detail RT to Client</label>
        <locationX>860</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>AccountRoleDetailRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RECORDTYPE_ACCOUNT_ROLE_DETAIL_CLIENT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Role_Detail_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Role_Detail_RT_Operator</name>
        <label>Set Account Role Detail RT to Operator</label>
        <locationX>863</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>AccountRoleDetailRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RECORDTYPE_ACCOUNT_ROLE_DETAIL_OPERATOR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Role_Detail_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Role_Detail_to_the_list_of_Contact_Role_Details</name>
        <label>Add Contact Role Detail to the list of Contact Role Details</label>
        <locationX>1623</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRoleDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Account_Role_Detail</name>
        <label>Prepare Account Role Detail</label>
        <locationX>1147</locationX>
        <locationY>1009</locationY>
        <assignmentItems>
            <assignToReference>AccountRoleDetail.Account_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRoleDetail.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRoleDetailRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Account_Role_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Contact_Role_Detail</name>
        <label>Prepare Contact Role Detail</label>
        <locationX>1623</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>ContactRoleDetail.E_F_Account_Role_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRoleDetail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRoleDetail.Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRole.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Role_Detail_to_the_list_of_Contact_Role_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set account role flow status to completed</description>
        <name>Set_Flow_Status_To_Completed</name>
        <label>Set Flow Status To Completed</label>
        <locationX>876</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>NewAccountRoleFlowStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_success_to_flow_launcher</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RECORDTYPE_ACCOUNT_OTHERS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORDTYPE_ACCOUNT_ROLE_DETAIL_CLIENT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORDTYPE_ACCOUNT_ROLE_DETAIL_OPERATOR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Operator</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Role_Detail_exists</name>
        <label>Account Role Detail exists ?</label>
        <locationX>651</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>Account_RT_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ARD has to be created</defaultConnectorLabel>
        <rules>
            <name>ARD_already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRoleDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flow_Status_To_Completed</targetReference>
            </connector>
            <label>ARD already created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_RT_Other</name>
        <label>Account RT = Others ?</label>
        <locationX>652</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>Account_Role_Detail_RT_Operator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others accounts</defaultConnectorLabel>
        <rules>
            <name>RT_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.RecordTypeDeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RECORDTYPE_ACCOUNT_OTHERS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Role_Detail_RT_Client</targetReference>
            </connector>
            <label>RT Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compliance_OK</name>
        <label>Compliance OK ?</label>
        <locationX>447</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Compliance_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplianceSubflowSuccessfullyFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForNextComplianceAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ARBC</targetReference>
            </connector>
            <label>Compliance KO</label>
        </rules>
        <rules>
            <name>account_is_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplianceSubflowSuccessfullyFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForNextComplianceAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIS_Subflow</targetReference>
            </connector>
            <label>account is compliant</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAP_OK</name>
        <label>SAP OK ?</label>
        <locationX>456</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>SAP_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SapSubflowSuccessfullyFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForNextSapAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ARBC</targetReference>
            </connector>
            <label>SAP KO</label>
        </rules>
        <rules>
            <name>Mulesoft_integration_succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SapSubflowSuccessfullyFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForNextSapAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Role_Detail</targetReference>
            </connector>
            <label>Mulesoft integration succeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>SIS_OK</name>
        <label>SIS OK ?</label>
        <locationX>454</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>SIS_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SisSubflowSuccessfullyFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForNextSisAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ARBC</targetReference>
            </connector>
            <label>SIS KO</label>
        </rules>
        <rules>
            <name>SIS_fields_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SisSubflowSuccessfullyFinished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForNextSisAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Subflow</targetReference>
            </connector>
            <label>SIS fields filled</label>
        </rules>
    </decisions>
    <description>Executed in background, it will check compliance fields on account, then it will check SIS fields on account, then it will send a platform event for Mulesoft.</description>
    <formulas>
        <name>SuccessEmailBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.AccountContextActivationEmailBody},
&apos;{0}&apos;, {!UserFlowLauncher.Name}),
&apos;{1}&apos;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>SuccessEmailSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.AccountContextActivationEmailSubject},
&apos;{0}&apos;, {!Account.Name})</expression>
    </formulas>
    <interviewLabel>Account Context Activation E&amp;F Background Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation E&amp;F Background Subflow</label>
    <loops>
        <name>For_Each_Contact_Role</name>
        <label>For Each Contact Role</label>
        <locationX>1428</locationX>
        <locationY>1009</locationY>
        <assignNextValueToReference>ContactRole</assignNextValueToReference>
        <collectionReference>ContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Contact_Role_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Contact_Role_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Account_Role_Detail</name>
        <label>Insert Account Role Detail</label>
        <locationX>1287</locationX>
        <locationY>1009</locationY>
        <connector>
            <targetReference>For_Each_Contact_Role</targetReference>
        </connector>
        <inputReference>AccountRoleDetail</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Contact_Role_Details</name>
        <label>Insert Contact Role Details</label>
        <locationX>1428</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>Set_Flow_Status_To_Completed</targetReference>
        </connector>
        <inputReference>ContactRoleDetails</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_ARBC</name>
        <label>Delete ARBC</label>
        <locationX>742</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Update_account_role_flow_status</targetReference>
        </connector>
        <inputReference>AddressRoleBusinessContext</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Role_Detail</name>
        <label>Get Account Role Detail</label>
        <locationX>464</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Role_Detail_exists</targetReference>
        </connector>
        <filters>
            <field>Account_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRole.Id</elementReference>
            </value>
        </filters>
        <object>E_and_F_Account_Role_Detail__c</object>
        <outputReference>AccountRoleDetail</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Role_Detail_RecordTypeId</name>
        <label>Get Account Role Detail RecordTypeId</label>
        <locationX>999</locationX>
        <locationY>1009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Account_Role_Detail</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRoleDetailRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AccountRoleDetailRecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Compliance_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Compliance_Subflow</name>
        <label>Compliance Subflow</label>
        <locationX>213</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Compliance_OK</targetReference>
        </connector>
        <flowName>Account_Context_Activation_Compliance_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClosedCaseNumber</name>
            <value>
                <elementReference>ClosedCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowHasBeenRelaunched</name>
            <value>
                <elementReference>RestartComplianceSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserFlowLauncher</name>
            <value>
                <elementReference>UserFlowLauncher</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ComplianceSubflowSuccessfullyFinished</assignToReference>
            <name>FlowSuccessfullyEnded</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WaitForNextComplianceAction</assignToReference>
            <name>WaitForNextAction</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SAP_Subflow</name>
        <label>SAP Subflow</label>
        <locationX>212</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>SAP_OK</targetReference>
        </connector>
        <flowName>Account_Context_Activation_SAP_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AddressRoleBusinessContext</name>
            <value>
                <elementReference>AddressRoleBusinessContext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowHasBeenRelaunched</name>
            <value>
                <elementReference>RestartSapSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IntegrationLogId</name>
            <value>
                <elementReference>IntegrationLogId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserFlowLauncher</name>
            <value>
                <elementReference>UserFlowLauncher</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SapSubflowSuccessfullyFinished</assignToReference>
            <name>FlowSuccessfullyEnded</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WaitForNextSapAction</assignToReference>
            <name>WaitForNextAction</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SIS_Subflow</name>
        <label>SIS Subflow</label>
        <locationX>214</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>SIS_OK</targetReference>
        </connector>
        <flowName>Account_Context_Activation_SIS_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowHasBeenRelaunched</name>
            <value>
                <elementReference>RestartSisSubflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserFlowLauncher</name>
            <value>
                <elementReference>UserFlowLauncher</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClosedCaseNumber</name>
            <value>
                <elementReference>ClosedCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SisSubflowSuccessfullyFinished</assignToReference>
            <name>FlowSuccessfullyEnded</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WaitForNextSisAction</assignToReference>
            <name>WaitForNextAction</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Role__c</objectType>
    </variables>
    <variables>
        <name>AccountRoleDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_and_F_Account_Role_Detail__c</objectType>
    </variables>
    <variables>
        <name>AccountRoleDetailRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the record type for account role detail</description>
        <name>AccountRoleDetailRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AddressRoleBusinessContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Role_Business_Context__c</objectType>
    </variables>
    <variables>
        <description>Compliance or SIS Case number. Only when flow is launched by Process Builder &quot;CaseComplianceClosed&quot; or &quot;CaseSISClosed&quot;</description>
        <name>ClosedCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>determine if the compliance subflow successfully ended</description>
        <name>ComplianceSubflowSuccessfullyFinished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>ContactRoleDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_and_F_Contact_Role_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactRoleDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_and_F_Contact_Role_Detail__c</objectType>
    </variables>
    <variables>
        <name>ContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contact_Role__c</objectType>
    </variables>
    <variables>
        <description>Id of the Integration log related to the platform event that has been sent in SAP subflow</description>
        <name>IntegrationLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status that it will be set at the end of the flow</description>
        <name>NewAccountRoleFlowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>if set to True, it will launch the second execution step of the compliance subflow</description>
        <name>RestartComplianceSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>if set to True, it will launch the sap execution step of the compliance subflow</description>
        <name>RestartSapSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>if set to True, it will launch the second execution step of the SIS subflow</description>
        <name>RestartSisSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>determine if the SAP subflow successfully ended</description>
        <name>SapSubflowSuccessfullyFinished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>determine if the SIS subflow successfully ended</description>
        <name>SisSubflowSuccessfullyFinished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Store the user that has launched the flow</description>
        <name>UserFlowLauncher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>wait for compliance case to be closed</description>
        <name>WaitForNextComplianceAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>wait for Mulesoft to update the status field of the integration log related to this flow</description>
        <name>WaitForNextSapAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>wait for SIS case to be closed</description>
        <name>WaitForNextSisAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
