src/flows/Account_Context_Activation_Compliance_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify the flow launcher that the compliance is a failure</description>
        <name>Notify_Flow_Launcher</name>
        <label>Notify Flow Launcher</label>
        <locationX>560</locationX>
        <locationY>654</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CurrentUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Account is compliant</description>
        <name>Output_Success</name>
        <label>Output Success</label>
        <locationX>212</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>FlowSuccessfullyEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Prepare_Compliant_Case</name>
        <label>Prepare Compliant Case</label>
        <locationX>1089</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>ComplianceCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTInternalCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.CaseArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate Compliance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.Reason1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New E&amp;F participant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCompliantSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Region_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.BSPCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.IATA_Iso_Country_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDiligenceQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Compliant_Case</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>DeveloperName of the queue Due Diligence</description>
        <name>DueDiligenceQueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Due_Diligence</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case RecordType DeveloperName for Internal Case</description>
        <name>RtCaseInternalCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InternalCasesEuropeSCE</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Account is currently compliant are:
Due Diligence Status (Due_Diligence_Status__c) = “Cleared”, AND
Date of last clearance (Date_of_last_clearance__c) within the last 12 months</description>
        <name>Is_Account_compliant</name>
        <label>Is Account compliant ?</label>
        <locationX>206</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Get_Compliance_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MaxLastClearanceDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.Due_Diligence_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Success</targetReference>
            </connector>
            <label>is compliant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Compliant_After_Case_Closed</name>
        <label>Is Account Compliant After Case Closed ?</label>
        <locationX>552</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Notify_Flow_Launcher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_compliant_after_case_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompliantAccount.Due_Diligence_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MaxLastClearanceDateAfterCaseClosed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Success</targetReference>
            </connector>
            <label>is compliant after case closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Created</name>
        <label>Is Case Created ?</label>
        <locationX>557</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RT_Internal_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplianceCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_compliance_process</targetReference>
            </connector>
            <label>Case already created</label>
        </rules>
    </decisions>
    <description>Search for a completed compliant case, else create one if it doesn&apos;t exist and notify account creator.</description>
    <formulas>
        <name>CaseCompliantSubject</name>
        <dataType>String</dataType>
        <expression>{!$Label.EFComplianceReview} &amp; &apos; - &apos; &amp; {!Account.Name}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Label.ComplianceProcessEmailBody}, 
&quot;{0}&quot;, {!CurrentUserName}),
&quot;{1}&quot;, {!SublowComplianceEvent.Case_Number__c}),
&quot;{2}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.ComplianceProcessEmailSubject}, &quot;{0}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>MaxLastClearanceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Account.Date_of_last_clearance__c}, 12)</expression>
    </formulas>
    <formulas>
        <name>MaxLastClearanceDateAfterCaseClosed</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!CompliantAccount.Date_of_last_clearance__c}, 12)</expression>
    </formulas>
    <interviewLabel>Account Context Activation Compliance Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation Compliance Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Compliant_Case</name>
        <label>Insert Compliant Case</label>
        <locationX>1239</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Wait_for_compliance_process</targetReference>
        </connector>
        <inputReference>ComplianceCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_RT_Internal_Case</name>
        <label>Get Case RT Internal Case</label>
        <locationX>774</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Due_Diligence_Queue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RtCaseInternalCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTInternalCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Case</name>
        <label>Get Compliance Case</label>
        <locationX>424</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Created</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BSPCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.IATA_Iso_Country_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reason1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New E&amp;F participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RtCaseInternalCase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Region_formula__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ComplianceCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliant_Account</name>
        <label>Get Compliant Account</label>
        <locationX>895</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Compliant_After_Case_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CompliantAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeDeveloperName__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Due_Diligence_Status__c</queriedFields>
        <queriedFields>Date_of_last_clearance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Due_Diligence_Queue</name>
        <label>Get Due Diligence Queue</label>
        <locationX>938</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Compliant_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DueDiligenceQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>DueDiligenceQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Is_Account_compliant</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ComplianceCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CompliantAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>DueDiligenceQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>FlowSuccessfullyEnded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RTInternalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SublowComplianceEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subflow_Compliance__e</objectType>
    </variables>
    <waits>
        <description>Wait for case to be closed</description>
        <name>Wait_for_compliance_process</name>
        <label>Wait for compliance process</label>
        <locationX>1239</locationX>
        <locationY>407</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Case_has_been_closed</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Compliant_Account</targetReference>
            </connector>
            <eventType>Subflow_Compliance__e</eventType>
            <inputParameters>
                <name>Account_Id__c</name>
                <value>
                    <elementReference>Account.Id</elementReference>
                </value>
            </inputParameters>
            <label>Case has been closed</label>
            <outputParameters>
                <assignToReference>SublowComplianceEvent</assignToReference>
                <name>Subflow_Compliance__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
