src/flows/Account_Context_Activation_SIS_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Flow_Launcher</name>
        <label>Notify Flow Launcher</label>
        <locationX>520</locationX>
        <locationY>472</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserFlowLauncher.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Output_Success</name>
        <label>Output Success</label>
        <locationX>210</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>FlowSuccessfullyEnded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Prepare_SIS_Case</name>
        <label>Prepare SIS Case</label>
        <locationX>1080</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>SisCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SisCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTInternalCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.CaseArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E&amp;F Operations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.Reason1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Airline/Operator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.BSPCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.IATA_Iso_Country_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Region_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AirlineParticipationHeadOfficeQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SisCase.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserFlowLauncher.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_SIS_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wait_for_SIS_case_to_be_closed</name>
        <label>Wait for SIS case to be closed</label>
        <locationX>695</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>WaitForNextAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>QUEUE_AIRLINE_PARTICIPATION_HEADOFFICE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AirlineParticipationHeadOffice</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORDTYPE_CASE_INTERNAL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InternalCasesEuropeSCE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_has_SIS_ID</name>
        <label>Account has SIS ID ?</label>
        <locationX>204</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Get_SIS_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIS KO</defaultConnectorLabel>
        <rules>
            <name>SIS_fields_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.SIS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.EF_SIS_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.EF_SIS_Designator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Success</targetReference>
            </connector>
            <label>SIS fields filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_been_relaunched</name>
        <label>has been relaunched ?</label>
        <locationX>512</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>first execution</defaultConnectorLabel>
        <rules>
            <name>second_execution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowHasBeenRelaunched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Flow_Launcher</targetReference>
            </connector>
            <label>second execution</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Created</name>
        <label>Is Case Created ?</label>
        <locationX>685</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RT_Internal_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not created</defaultConnectorLabel>
        <rules>
            <name>case_already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SisCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_SIS_case_to_be_closed</targetReference>
            </connector>
            <label>case already created</label>
        </rules>
    </decisions>
    <description>Search for a completed sis case, else create one if it doesn&apos;t exist and notify account creator.</description>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Label.SisProcessEmailBody}, 
&quot;{0}&quot;, {!UserFlowLauncher.Name}),
&quot;{1}&quot;, {!SisCase.CaseNumber}),
&quot;{2}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.SisProcessEmailSubject}, &quot;{0}&quot;, {!Account.Name})</expression>
    </formulas>
    <formulas>
        <name>SisCaseSubject</name>
        <dataType>String</dataType>
        <expression>{!$Label.SisProcessCaseSubject}</expression>
    </formulas>
    <interviewLabel>Account Context Activation SIS Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Context Activation SIS Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_SIS_Case</name>
        <label>Insert SIS Case</label>
        <locationX>906</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Wait_for_SIS_case_to_be_closed</targetReference>
        </connector>
        <inputReference>SisCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Airline_Headoffice_Queue</name>
        <label>Get Airline Headoffice Queue</label>
        <locationX>1080</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_SIS_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QUEUE_AIRLINE_PARTICIPATION_HEADOFFICE</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>AirlineParticipationHeadOfficeQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RT_Internal_Case</name>
        <label>Get Case RT Internal Case</label>
        <locationX>899</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Airline_Headoffice_Queue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RECORDTYPE_CASE_INTERNAL</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTInternalCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SIS_Case</name>
        <label>Get SIS Case</label>
        <locationX>366</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_been_relaunched</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BSPCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.IATA_Iso_Country_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E&amp;F Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reason1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Airline/Operator</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RECORDTYPE_CASE_INTERNAL</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Region_formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SisCaseSubject</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SisCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_has_SIS_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AirlineParticipationHeadOfficeQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>Determines if the flow has been relaunched by a process builder</description>
        <name>FlowHasBeenRelaunched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FlowSuccessfullyEnded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RTInternalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SisCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UserFlowLauncher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Wait for case to be closed, then the process builder CaseSisClosed will relaunch the flow a second time</description>
        <name>WaitForNextAction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
