src/flows/ANG_FS_AddendumFlow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apexPluginCalls>
        <name>CreateFSAndCase</name>
        <label>CreateFSAndCase</label>
        <locationX>803</locationX>
        <locationY>706</locationY>
        <apexClass>ANG_AmendFS</apexClass>
        <connector>
            <targetReference>AnyError</targetReference>
        </connector>
        <inputParameters>
            <name>ExpiryDate</name>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSToCloneId</name>
            <value>
                <elementReference>FSToCloneId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NewFSAmount</name>
            <value>
                <elementReference>NewFSAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedCaseId</name>
            <value>
                <elementReference>CaseFound.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SelectedCurrency</name>
            <value>
                <elementReference>SelectedCurrency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UnlimitedValidity</name>
            <value>
                <elementReference>Unlimited_Validity</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ResultCreation</assignToReference>
            <name>Result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MessageCreation</assignToReference>
            <name>Message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreatedFSId</assignToReference>
            <name>CreatedFSId</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>NoCaseFoundMessage</name>
        <label>NoCaseFoundMessage</label>
        <locationX>564</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>NoCaseFoundLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;No Case Found. Please enter another Case Number&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Case_Number_to_link_to_new_FS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultCurrency</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!FSToClone.CurrencyIsoCode}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FSToClone.CurrencyIsoCode</elementReference>
        </value>
    </choices>
    <constants>
        <name>KO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>KO</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AnyError</name>
        <label>AnyError?</label>
        <locationX>983</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>GoToCaseCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ErrorsOccured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowErrorCreation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Found</name>
        <label>Case Found?</label>
        <locationX>565</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>ShowCurrentValueAndInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCaseFoundMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_RHC_Info</name>
        <label>Has RHC Info?</label>
        <locationX>381</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Enter_Case_Number_to_link_to_new_FS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RHCInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRHCInfo</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_FS_Status</name>
        <label>Verify FS Status</label>
        <locationX>380</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>FS_Status_not_amendable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Amendable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FSToClone.Security_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FSToClone.Security_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close to Expiry Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRHCInformation</targetReference>
            </connector>
            <label>Amendable</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyInput</name>
        <label>VerifyInput</label>
        <locationX>168</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>GetFSToClone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FSToCloneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FSToCloneId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Input_Specified</targetReference>
            </connector>
            <label>Not OK</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Financial_Security_Currency__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>ANG_FS_AddendumFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amend Financial Security</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetFSToClone</name>
        <label>GetFSToClone</label>
        <locationX>381</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_FS_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FSToCloneId</elementReference>
            </value>
        </filters>
        <object>Financial_Security__c</object>
        <outputReference>FSToClone</outputReference>
        <queriedFields>Reception_Case__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Security_Status__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Unlimited_Security__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRHCInformation</name>
        <label>GetRHCInformation</label>
        <locationX>382</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_RHC_Info</targetReference>
        </connector>
        <filters>
            <field>ANG_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FSToClone.Account__c</elementReference>
            </value>
        </filters>
        <object>ANG_RHC_Information__c</object>
        <outputReference>RHCInfo</outputReference>
        <queriedFields>ANG_Minimum_Financial_Security__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Case</name>
        <label>Search Case</label>
        <locationX>380</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Found</targetReference>
        </connector>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Number_To_Search</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseFound</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordType__c</queriedFields>
        <queriedFields>Financial_Security_Amount__c</queriedFields>
        <queriedFields>Financial_Security_Currency__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Enter_Case_Number_to_link_to_new_FS</name>
        <label>Enter Case Number to link to new FS</label>
        <locationX>380</locationX>
        <locationY>478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Case</targetReference>
        </connector>
        <fields>
            <name>MsgNoCaseFound</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NoCaseFoundLabel}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number_To_Search</name>
            <dataType>String</dataType>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FS_Status_not_amendable</name>
        <label>FS Status not amendable</label>
        <locationX>166</locationX>
        <locationY>133</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FSNotAmendable</name>
            <fieldText>Financial security is not amendable</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GoToCaseCreated</name>
        <label>GoToCaseCreated</label>
        <locationX>1195</locationX>
        <locationY>707</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProcessCompleted</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Financial Security succesfully amended.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;A HREF=&quot;/{!CreatedFSId}&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt; to view Financial security&amp;apos;s details&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Input_Specified</name>
        <label>No Input Specified</label>
        <locationX>20</locationX>
        <locationY>17</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoInputSpecified</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No input specified&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRHCInfo</name>
        <label>NoRHCInfo</label>
        <locationX>186</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRHCInfoError</name>
            <fieldText>Sorry, no RHC Information found for given account. It&apos;s not possible to perform Addendum for agent without RHC.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowCurrentValueAndInput</name>
        <label>ShowCurrentValueAndInput</label>
        <locationX>801</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateFSAndCase</targetReference>
        </connector>
        <fields>
            <name>CaseInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Number:&lt;/B&gt; {!CaseFound.CaseNumber}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Type&lt;/B&gt;: {!CaseFound.RecordType__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Subject&lt;/B&gt;: {!CaseFound.Subject}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Creation Date&lt;/B&gt;: {!CaseFound.CreatedDate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Minimum FS Amount&lt;/B&gt;: &lt;FONT KERNING=&quot;1&quot;&gt;{!CaseFound.Financial_Security_Amount__c} {!CaseFound.Financial_Security_Currency__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentFSAmountLabel</name>
            <fieldText>Current Minimum FS Requested: {!RHCInfo.ANG_Minimum_Financial_Security__c} {!RHCInfo.CurrencyIsoCode}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentMinFSLabel</name>
            <fieldText>Provided FS Amount: {!FSToClone.Amount__c} {!FSToClone.CurrencyIsoCode}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewFSAmount</name>
            <dataType>Currency</dataType>
            <fieldText>New Financial Security Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Can be amended later on</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>SelectedCurrency</name>
            <choiceReferences>Currency</choiceReferences>
            <choiceReferences>DefaultCurrency</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultCurrency</defaultSelectedChoiceReference>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expiry_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please set Expiry date OR Unlimited validity.</errorMessage>
                <formulaExpression>NOT(AND({!Unlimited_Validity} = false, isblank({!Expiry_Date}))) &amp;&amp; NOT(AND({!Unlimited_Validity} = true, NOT(isblank({!Expiry_Date}))))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Unlimited_Validity</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>FSToClone.Unlimited_Security__c</elementReference>
            </defaultValue>
            <fieldText>Unlimited Validity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please set Expiry date OR Unlimited validity.</errorMessage>
                <formulaExpression>NOT(AND({!Unlimited_Validity} = false, isblank({!Expiry_Date}))) &amp;&amp; NOT(AND({!Unlimited_Validity} = true, NOT(isblank({!Expiry_Date}))))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowErrorCreation</name>
        <label>ShowErrorCreation</label>
        <locationX>986</locationX>
        <locationY>823</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorOccured</name>
            <fieldText>An error occured during creation: {!MessageCreation}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>VerifyInput</startElementReference>
    <variables>
        <name>CaseFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CreatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedFSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current minimum FS Amount</description>
        <name>CurrentMinimumFS</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FoundFSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FSToClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Security__c</objectType>
    </variables>
    <variables>
        <description>The ID of the Financial Security to be cloned</description>
        <name>FSToCloneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoCaseFoundLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RHCInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ANG_RHC_Information__c</objectType>
    </variables>
    <variables>
        <name>varDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
