src/flows/ANG_IEP_SCIM_Provisioning_Flow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>SCIM_Collect_Users</name>
        <label>SCIM Collect Users</label>
        <locationX>250</locationX>
        <locationY>134</locationY>
        <apexClass>SCIMCollectUsersPlugin</apexClass>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reconOffset</name>
            <value>
                <elementReference>reconOffset</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>nextReconOffset</assignToReference>
            <name>nextReconOffset</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Create_User</name>
        <label>SCIM Create User</label>
        <locationX>831</locationX>
        <locationY>131</locationY>
        <apexClass>SCIMCreateUserPlugin</apexClass>
        <inputParameters>
            <name>userPayload</name>
            <value>
                <elementReference>UserPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallParams</name>
            <value>
                <elementReference>CallParams</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Create_User_Generator</name>
        <label>SCIM Create User Generator</label>
        <locationX>673</locationX>
        <locationY>134</locationY>
        <apexClass>SCIMUserAttributeGeneratorPlugin</apexClass>
        <connector>
            <targetReference>SCIM_Create_User</targetReference>
        </connector>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>User.FederationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>UserFields.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>UserNameFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>properties</name>
            <value>
                <elementReference>EntitlementFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entitlement</name>
            <value>
                <elementReference>ProjectFormula</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserPayload</assignToReference>
            <name>userPayload</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Delete_User</name>
        <label>SCIM Delete user</label>
        <locationX>450</locationX>
        <locationY>243</locationY>
        <apexClass>SCIMDeleteUserPlugin</apexClass>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallParams</name>
            <value>
                <elementReference>CallParams</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UPAStatus</assignToReference>
            <name>UPAStatus</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Toggle_User</name>
        <label>SCIM Toggle User</label>
        <locationX>250</locationX>
        <locationY>241</locationY>
        <apexClass>SCIMToggleUserPlugin</apexClass>
        <inputParameters>
            <name>enableUser</name>
            <value>
                <elementReference>EnableUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Update_User</name>
        <label>SCIM Update User</label>
        <locationX>834</locationX>
        <locationY>249</locationY>
        <apexClass>SCIMUpdateUserPlugin</apexClass>
        <inputParameters>
            <name>userPayload</name>
            <value>
                <elementReference>UserPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CallParams</name>
            <value>
                <elementReference>CallParams</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Update_User_Generator</name>
        <label>SCIM Update User Generator</label>
        <locationX>674</locationX>
        <locationY>249</locationY>
        <apexClass>SCIMUserAttributeGeneratorPlugin</apexClass>
        <connector>
            <targetReference>SCIM_Update_User</targetReference>
        </connector>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>UserFields.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>User.FederationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>properties</name>
            <value>
                <elementReference>EntitlementFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entitlement</name>
            <value>
                <elementReference>ProjectFormula</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserPayload</assignToReference>
            <name>userPayload</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>450</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Create_User_Generator</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Update_User_Generator</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconcile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Collect_Users</targetReference>
            </connector>
            <label>Collect</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Delete_User</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Toggle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freeze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfreeze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Toggle_User</targetReference>
            </connector>
            <label>Toggle</label>
        </rules>
    </decisions>
    <formulas>
        <name>CallParams</name>
        <dataType>String</dataType>
        <expression>&apos;{&apos;+
&apos; &quot;externalSystems&quot; : &quot;&apos; + {!UserFields.Contact.Account.IATA_ISO_Country__r.ANG_Portal_Service__r.Name}  + &apos;&quot;, &apos; +
&apos; &quot;client_secret&quot; : &quot;&apos; + {!client_secret}  + &apos;&quot;, &apos; +
&apos; &quot;client_id&quot; : &quot;&apos; + {!client_id}  + &apos;&quot; &apos; +
&apos;}&apos;</expression>
    </formulas>
    <formulas>
        <name>client_id</name>
        <dataType>String</dataType>
        <expression>{!IF(CONTAINS(PortalName, &apos;EDENRED&apos;), &apos;691343569caf4c80aa09d835fc3b700e&apos;,
IF(CONTAINS(PortalName, &apos;MSTS&apos;), &apos;691343569caf4c80aa09d835fc3b700e&apos;,
IF(CONTAINS(PortalName, &apos;WEX&apos;), &apos;691343569caf4c80aa09d835fc3b700e&apos;,
&apos;&apos;)))}</expression>
    </formulas>
    <formulas>
        <name>client_secret</name>
        <dataType>String</dataType>
        <expression>{!IF(CONTAINS(PortalName, &apos;EDENRED&apos;), &apos;3787a2F55B8c4c39aEA11a36ad69d66e&apos;,
IF(CONTAINS(PortalName, &apos;MSTS&apos;), &apos;3787a2F55B8c4c39aEA11a36ad69d66e&apos;,
IF(CONTAINS(PortalName, &apos;WEX&apos;), &apos;3787a2F55B8c4c39aEA11a36ad69d66e&apos;,
&apos;&apos;)))}</expression>
    </formulas>
    <formulas>
        <description>Formula to determine if a UserProvisioningRequest indicates enabling a user.</description>
        <name>EnableUser</name>
        <dataType>Boolean</dataType>
        <expression>{!TEXT(UserProvisioningRequest.Operation) == &apos;Activate&apos; || TEXT(UserProvisioningRequest.Operation) == &apos;Unfreeze&apos;}</expression>
    </formulas>
    <formulas>
        <name>EntitlementFormula</name>
        <dataType>String</dataType>
        <expression>&apos;{&apos;+
&apos;&quot;language&quot;:&quot;&apos; + {!UPPER(LEFT(TEXT(UserFields.LanguageLocaleKey), 2))} + &apos;&quot;,&apos; +
&apos;&quot;Agent Numeric Code&quot;:&quot;&apos; + {!UserFields.Contact_Account_IATA_Code__c} + &apos;&quot;,&apos; +
&apos;&quot;Requested Role&quot;:&quot;&apos; + {!PortalServiceAccess.ANG_Portal_Service_Role__c} + &apos;&quot;,&apos; +
&apos;&quot;BSP Country&quot;:&quot;&apos; + {!UserFields.Contact.Account.Country_ISO_Code__c} + &apos;&quot;,&apos; +
&apos;&quot;External Systems&quot;:&quot;&apos; + {!PortalServiceAccess.Application_Name__c} + &apos;&quot;&apos; +
&apos;}&apos;</expression>
    </formulas>
    <formulas>
        <name>PortalName</name>
        <dataType>String</dataType>
        <expression>{!UserFields.Contact.Account.IATA_ISO_Country__r.ANG_Portal_Service__r.Name}</expression>
    </formulas>
    <formulas>
        <name>ProjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;NEWGEN&apos;</expression>
    </formulas>
    <formulas>
        <name>UserNameFormula</name>
        <dataType>String</dataType>
        <expression>{!User.Username}</expression>
    </formulas>
    <interviewLabel>ANG IEP SCIM Provisioning Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ANG IEP SCIM Provisioning Flow</label>
    <processType>UserProvisioningFlow</processType>
    <recordLookups>
        <name>Fetch_More_User_Info</name>
        <label>Fetch More User Info</label>
        <locationX>255</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Portal_Service_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserFields</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Contact_Account_IATA_Code__c</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Portal_Service_Request</name>
        <label>Fetch Portal Service Request</label>
        <locationX>451</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operation</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portal_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserFields.Contact.Account.IATA_ISO_Country__r.ANG_Portal_Service__c</elementReference>
            </value>
        </filters>
        <object>Portal_Application_Right__c</object>
        <outputReference>PortalServiceAccess</outputReference>
        <queriedFields>ANG_Portal_Service_Role__c</queriedFields>
        <queriedFields>Portal_Application__c</queriedFields>
        <queriedFields>Application_Name__c</queriedFields>
    </recordLookups>
    <startElementReference>Fetch_More_User_Info</startElementReference>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PortalServiceAccess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portal_Application_Right__c</objectType>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UPAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
