src/flows/AoC_Renewal_case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact_with_Service</name>
        <label>Assign Contact with Service</label>
        <locationX>1072</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>CaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AoC_Renewal_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Portal_Admin</name>
        <label>Portal Admin</label>
        <locationX>1072</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>CaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PortalAdminID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AoC_Renewal_case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Valid AOC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contacts_with_Airline_Coding_Service_or_Admins</name>
        <label>Contacts with Airline Coding Service or Admins</label>
        <locationX>762</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_with_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact with service</defaultConnectorLabel>
        <rules>
            <name>No_Contact_with_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Portal_Admin</targetReference>
            </connector>
            <label>No Contact with service</label>
        </rules>
    </decisions>
    <formulas>
        <description>Account Id 15 digit version</description>
        <name>AccountId_15</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountID},15)</expression>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&quot;Designator Code: &quot;&amp;{!DesignatorCode}&amp;
BR()&amp;
&quot;Prefix Code: &quot;&amp;{!PrefixCode}&amp;
BR()&amp;
&quot;IATA Code: &quot;&amp;{!IATACode}</expression>
    </formulas>
    <interviewLabel>AoC Renewal case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AoC Renewal case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AoC_Renewal_case</name>
        <label>Create AoC Renewal case</label>
        <locationX>1270</locationX>
        <locationY>127</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BSPCountry__c</field>
            <value>
                <elementReference>CaseCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseArea__c</field>
            <value>
                <stringValue>Airline Coding Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1r000004BplB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason1__c</field>
            <value>
                <stringValue>Code Eligibility Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012w0000000Ybvu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>CaseRegion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Valid AOC</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_account_information_to_copy_to_case</name>
        <label>Get account information to copy to case</label>
        <locationX>382</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_with_Airline_coding_service</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PrefixCode</assignToReference>
            <field>Airline_Prefix__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesignatorCode</assignToReference>
            <field>Airline_designator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IATACode</assignToReference>
            <field>IATACode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseRegion</assignToReference>
            <field>Region_formula__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_with_Airline_coding_service</name>
        <label>Get Contact with Airline coding service</label>
        <locationX>556</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Portal_Admin</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId_15</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IATA Airlines and Location Codes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Right__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Access Granted</stringValue>
            </value>
        </filters>
        <object>Portal_Application_Right__c</object>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <field>ContactId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Admin</name>
        <label>Get Portal Admin</label>
        <locationX>551</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_with_Airline_Coding_Service_or_Admins</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Portal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Admin</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PortalAdminID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Start_flow_3_days_before_expiry_date</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllContactIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DesignatorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IATACode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PortalAdminID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrefixCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Start_flow_3_days_before_expiry_date</name>
        <label>Start flow 3 days before expiry date</label>
        <locationX>199</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Always_pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_account_information_to_copy_to_case</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>AOC_Expiry_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>AccountID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Always pause</label>
        </waitEvents>
    </waits>
</Flow>
