src/flows/Assign_New_Financial_Assessment_Contact_by_Search-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Disable_Current_Financial_Contact</name>
        <label>Disable Current Financial Contact</label>
        <locationX>53</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>sobjCurrentPortalAccessService.Right__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access Denied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Financial_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disable_Current_Financial_Contact_0</name>
        <label>Disable Current Financial Contact</label>
        <locationX>210</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>sobjCurrentPortalAccessService.Right__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjCurrentPortalAccessService.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjCurrentFinancialContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjCurrentPortalAccessService.Portal_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjPortalService.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCurrentPSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_New_Financial_Contact</name>
        <label>Enable New Financial Contact</label>
        <locationX>447</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>sobjNewPortalServiceAccess.Right__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access Granted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Financial_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_New_Financial_Contact_0</name>
        <label>Enable New Financial Contact</label>
        <locationX>715</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>sobjNewPortalServiceAccess.Right__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access Granted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjNewPortalServiceAccess.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjNewFinancialContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjNewPortalServiceAccess.Portal_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjPortalService.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_PSA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AbortChange</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>DropdownSelect</name>
        <choiceText>- Select -</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>MakeChange</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Contact_Search_Criteria</name>
        <label>Contact Search Criteria</label>
        <locationX>177</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>List_Contact_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Search by List</defaultConnectorLabel>
        <rules>
            <name>Search_by_email_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Contact_Search</targetReference>
            </connector>
            <label>Search by email</label>
        </rules>
    </decisions>
    <decisions>
        <description>First need to disable current Financial Contact, if one exists, before enabling new one (to avoid validation rule/trigger allowing only a single Fin. Contact for an account)</description>
        <name>Current_Financial_Contact_Exists</name>
        <label>Current Financial Contact Exists</label>
        <locationX>185</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Get_Portal_Service_Access_Current_FA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Financial Contact Found</defaultConnectorLabel>
        <rules>
            <name>Current_Financial_Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjCurrentFinancialContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_Service_Access_New_FA</targetReference>
            </connector>
            <label>Current Financial Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unlikely that the current Financial Contact won&apos;t have an IFAD Portal Service Access record but worth checking anyway.</description>
        <name>Current_PSA_Exists</name>
        <label>Current PSA Exists</label>
        <locationX>52</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>Disable_Current_Financial_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>currentPSANull</defaultConnectorLabel>
        <rules>
            <name>currentPSAExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjCurrentPortalAccessService</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_Current_Financial_Contact</targetReference>
            </connector>
            <label>currentPSAExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Financial_Contact_Found</name>
        <label>Is New Financial Contact Found</label>
        <locationX>184</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Find_Current_Financial_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Financial Contact Found</defaultConnectorLabel>
        <rules>
            <name>New_Financial_Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjNewFinancialContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_New_Contact_Not_Found</targetReference>
            </connector>
            <label>New Financial Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Portal_User</name>
        <label>Is Portal User</label>
        <locationX>907</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>Assignment_Confirmation_Porta_user_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Portal User</defaultConnectorLabel>
        <rules>
            <name>Has_Portal_Access</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sobjNewFinancialContact.User_Portal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjNewFinancialContact.User_Portal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjNewFinancialContact.User_Portal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Confirmation_Porta_user</targetReference>
            </connector>
            <label>Has Portal Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Portal_Service_Access_Exists</name>
        <label>New Contact Portal Service Access Exists</label>
        <locationX>448</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Enable_New_Financial_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact No PSA</defaultConnectorLabel>
        <rules>
            <name>New_Contact_has_PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjNewPortalServiceAccess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_New_Financial_Contact</targetReference>
            </connector>
            <label>New Contact has PSA</label>
        </rules>
    </decisions>
    <description>Search by Id when contact is selected. Only include Active contacts. Removed validation on email format.</description>
    <dynamicChoiceSets>
        <name>ContactList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Assessment_Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Portal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Portal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deactivate</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vNewFAContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactList2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Assessment_Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Portal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vNewFAContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Assign New Financial Assessment Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_PSA</name>
        <label>Create New PSA</label>
        <locationX>910</locationX>
        <locationY>808</locationY>
        <connector>
            <targetReference>Is_Portal_User</targetReference>
        </connector>
        <inputReference>sobjNewPortalServiceAccess</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createCurrentPSA</name>
        <label>createCurrentPSA</label>
        <locationX>213</locationX>
        <locationY>970</locationY>
        <connector>
            <targetReference>Get_Portal_Service_Access_New_FA</targetReference>
        </connector>
        <inputReference>sobjCurrentPortalAccessService</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Email_Contact_Search</name>
        <label>Email Contact Search</label>
        <locationX>66</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_Financial_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sobjNewFinancialContact</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>User_Portal_Status__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Be sure not to update Newly promoted Financial Contact!</description>
        <name>Find_Current_Financial_Contact</name>
        <label>Find Current Financial Contact</label>
        <locationX>186</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Financial_Contact_Exists</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Assessment_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sobjCurrentFinancialContact</outputReference>
        <queriedFields>Financial_Assessment_Contact__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>We need the Id for the IFAP Portal Service record, to build the junction record (Portal Service Access) to contacts when they don&apos;t already have IFAP as a Portal Service Access record.</description>
        <name>Get_IFAP_PS</name>
        <label>Get IFAP PS</label>
        <locationX>410</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Financial_Contact_Data_Entry</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IFAP</stringValue>
            </value>
        </filters>
        <object>Portal_Applications__c</object>
        <outputReference>sobjPortalService</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Service_Access_Current_FA</name>
        <label>Get Portal Service Access Current FA</label>
        <locationX>49</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_PSA_Exists</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjCurrentFinancialContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portal_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjPortalService.Id</elementReference>
            </value>
        </filters>
        <object>Portal_Application_Right__c</object>
        <outputReference>sobjCurrentPortalAccessService</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get PSA for new Fin. Contact.</description>
        <name>Get_Portal_Service_Access_New_FA</name>
        <label>Get Portal Service Access New FA</label>
        <locationX>451</locationX>
        <locationY>1076</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Contact_Portal_Service_Access_Exists</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjNewFinancialContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portal_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjPortalService.Id</elementReference>
            </value>
        </filters>
        <object>Portal_Application_Right__c</object>
        <outputReference>sobjNewPortalServiceAccess</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>List_Contact_Search</name>
        <label>List Contact Search</label>
        <locationX>316</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_Financial_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_new_Financial_Assessment_Contact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sobjNewFinancialContact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>User_Portal_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Financial_Contact</name>
        <label>Update Current Financial Contact</label>
        <locationX>52</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>Get_Portal_Service_Access_New_FA</targetReference>
        </connector>
        <inputReference>sobjCurrentPortalAccessService</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Financial_Contact</name>
        <label>Update New Financial Contact</label>
        <locationX>709</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Is_Portal_User</targetReference>
        </connector>
        <inputReference>sobjNewPortalServiceAccess</inputReference>
    </recordUpdates>
    <screens>
        <name>Assignment_Confirmation_Porta_user</name>
        <label>Assignment Confirmation Portal User</label>
        <locationX>755</locationX>
        <locationY>510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmMsg</name>
            <fieldText>{!sobjNewFinancialContact.FirstName} {!sobjNewFinancialContact.LastName} has been assigned as the new Financial Assessment Contact for {!sobjNewFinancialContact.Account.Name}.

This Contact has {!sobjNewFinancialContact.User_Portal_Status__c} access to the Customer Portal.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assignment_Confirmation_Porta_user_0</name>
        <label>Assignment Confirmation Portal User</label>
        <locationX>1066</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmMsg_0</name>
            <fieldText>{!sobjNewFinancialContact.FirstName} {!sobjNewFinancialContact.LastName} has been assigned as the new Financial Assessment Contact for {!sobjNewFinancialContact.Account.Name}.

{!sobjNewFinancialContact.FirstName} {!sobjNewFinancialContact.LastName} currently DOES NOT have access to the Customer Portal:

Please use the &apos;Change User Portal Status&apos; button on the contact record to assign access.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>15</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMsg</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_New_Contact_Not_Found</name>
        <label>Message New Contact Not Found</label>
        <locationX>655</locationX>
        <locationY>317</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Financial_Contact_Data_Entry</targetReference>
        </connector>
        <fields>
            <name>ContactNotFoundMsg</name>
            <fieldText>The contact could not be found. Please try again or else create a new Contact for this account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Financial_Contact_Data_Entry</name>
        <label>New Financial Contact Data Entry</label>
        <locationX>175</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Search_Criteria</targetReference>
        </connector>
        <fields>
            <name>Select_new_Financial_Assessment_Contact</name>
            <choiceReferences>DropdownSelect</choiceReferences>
            <choiceReferences>ContactList2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DropdownSelect</defaultSelectedChoiceReference>
            <fieldText>Select new Financial Assessment Contact*</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>email</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Or search by email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HQOnly</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;*Only contacts located at your Organization&amp;apos;s HQ can be assigned as Financial Assessment Contacts.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_IFAP_PS</startElementReference>
    <variables>
        <description>Account ID passed to flow from URL. Flow is run from Account detail page.</description>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjCurrentFinancialContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobjCurrentPortalAccessService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portal_Application_Right__c</objectType>
    </variables>
    <variables>
        <name>sobjNewFinancialContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobjNewPortalServiceAccess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portal_Application_Right__c</objectType>
    </variables>
    <variables>
        <name>sobjPortalService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Portal_Applications__c</objectType>
    </variables>
    <variables>
        <name>vCurrentFinancialContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vIFAD_PSA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a2w110000008kAy</stringValue>
        </value>
    </variables>
    <variables>
        <description>Store new FA contact email when selected from drop-down list.</description>
        <name>vNewFAContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
