src/flows/Claim_EU261_2_Flight.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Claim_Compensation</name>
        <label>Claim Compensation</label>
        <locationX>780</locationX>
        <locationY>528</locationY>
        <apexClass>ClaimEU261RulesPlug</apexClass>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>claimType</name>
            <value>
                <elementReference>claim_type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Delayed_Flight_Time</name>
            <value>
                <elementReference>Delayed_Flight_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DelayFlightSection</name>
            <value>
                <elementReference>DelayFlightSection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Extraordinary_Circumstances</name>
            <value>
                <elementReference>extraordinary_circumstances_option</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Flight_Distance</name>
            <value>
                <elementReference>FlightDistance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isArrival_Airport_EU</name>
            <value>
                <elementReference>ArrivalAirportIsEu</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isCarrier_EU</name>
            <value>
                <elementReference>isCarrier_EU</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isConnecting_Airport_EU</name>
            <value>
                <elementReference>ConnectingAirportIsEu</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDeparture_Airport_EU</name>
            <value>
                <elementReference>DepartAirportIsEu</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CompensationAmount</assignToReference>
            <name>CompensationAmount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Description</assignToReference>
            <name>Description</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Flight_Information</name>
        <label>Flight Information</label>
        <locationX>383</locationX>
        <locationY>44</locationY>
        <apexClass>ClaimEU261Plug</apexClass>
        <connector>
            <targetReference>FlightConnecting</targetReference>
        </connector>
        <inputParameters>
            <name>Arrival_Airport</name>
            <value>
                <elementReference>Arrival_Airport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Departure_Airport</name>
            <value>
                <elementReference>Departure_Airport</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FlightDistance</assignToReference>
            <name>FlightDistance</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DepartAirportIsEu</assignToReference>
            <name>DepartAirportIsEU</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ArrivalAirportIsEu</assignToReference>
            <name>ArrivalAirportIsEU</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>FlightConnecting</name>
        <label>FlightConnecting</label>
        <locationX>533</locationX>
        <locationY>46</locationY>
        <apexClass>ClaimEU261Plug</apexClass>
        <connector>
            <targetReference>Claim_Type_D</targetReference>
        </connector>
        <inputParameters>
            <name>Arrival_Airport</name>
            <value>
                <elementReference>Departure_Airport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Departure_Airport</name>
            <value>
                <elementReference>Connecting_Airport</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ConnectingAirportIsEu</assignToReference>
            <name>DepartAirportIsEU</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assign_Claim_Type_Cancelation</name>
        <label>Assign Claim Type Cancelation</label>
        <locationX>901</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>claim_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Xncl</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>was_first_flight_delayCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Was the first flight cancel?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>was_the_second_flight_delayCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Was the second flight cancel?</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Feature_Request_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claim_Type_Delay</name>
        <label>Assign Claim Type Delay</label>
        <locationX>1024</locationX>
        <locationY>157</locationY>
        <assignmentItems>
            <assignToReference>claim_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>was_first_flight_delayCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did a delay in the arrival of the first flight cause a missed connection on the {!NewLine} second flightresulting in the delay on arrival at final destination?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>was_the_second_flight_delayCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Did the 2nd flight cause a delay on arrival at final destination?</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment10</name>
        <label>Assignment10</label>
        <locationX>609</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>CompensationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR 0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passenger should submit claim to operating carrier of 2nd flight</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentNoEU</name>
        <label>AssignmentNoEU</label>
        <locationX>712</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>CompensationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR 0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_NoEuScope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DelayFlightSection_2</name>
        <label>DelayFlightSection_2</label>
        <locationX>1498</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>DelayFlightSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputScreen8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalDescription</name>
        <label>FinalDescription</label>
        <locationX>464</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Description}  / Inputs Summary: - Departure Airport = {!Departure_Airport} - is the Departure Airport from EU = {!DepartAirportIsEu}- Arrival Airport = {!Arrival_Airport}- is the Arrival Airport from EU = {!ArrivalAirportIsEu}- Flight Distance = {!FlightDistance} kms- is the Carrier from EU = {!isCarrier_EU}- Delay time = {!Delayed_Flight_Time}- Extraordinary Circumstance = {!extraordinary_circumstances_option}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>FlightSectionDelay_1</name>
        <label>FlightSectionDelay_1</label>
        <locationX>1293</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>DelayFlightSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputScreen7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoDelayedSecondFlight</name>
        <label>NoDelaySecondFlight</label>
        <locationX>1057</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>CompensationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR 0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Based on the information provided, there is no valid basis for a claim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotOperatingCarrier</name>
        <label>NotOperatingCarrier</label>
        <locationX>944</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>CompensationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR 0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passenger should submit claim to operating carrier of first flight</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_extraordinary_circumstances</name>
        <label>set extraordinary circumstances</label>
        <locationX>1290</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>extraordinary_circumstances_option</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extraordinary_Circumstances</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>need_to_check_if_is_unsure_circumstances</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Between_0h_3h</name>
        <choiceText>0 to 3 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0 to 3 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_3h_4h</name>
        <choiceText>3 to 4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 to 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation_1</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delayed</name>
        <choiceText>Delayed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delayed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delays</name>
        <choiceText>Delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Denied_boarding</name>
        <choiceText>Denied boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied boarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Denied_Boarding_1</name>
        <choiceText>Denied Boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied Boarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>informed_more_14_days_in_advance</name>
        <choiceText>Informed more than 14 days in advance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informed more than 14 days in advance</stringValue>
        </value>
    </choices>
    <choices>
        <name>less_2h</name>
        <choiceText>[0,2h]</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[0,2h]</stringValue>
        </value>
    </choices>
    <choices>
        <name>less_7_days</name>
        <choiceText>Informed less than 7 days before the scheduled departure and are offered re-routing which would allow you: to depart no more than 1 hour before the original scheduled time of departure and to reach your final destination less than 2 hours after the original scheduled time of arrival.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informed less than 7 days before the scheduled departure and are offered re-routing which would allow you: to depart no more than 1 hour before the original scheduled time of departure and to reach your final destination less than 2 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_4h</name>
        <choiceText>More than 4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_informed</name>
        <choiceText>Not informed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not informed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status</name>
        <choiceText>Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsure</name>
        <choiceText>Unsure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsure</stringValue>
        </value>
    </choices>
    <choices>
        <name>weeks_2_days_7</name>
        <choiceText>Informed between 2 weeks and 7 days before the scheduled departure and you are offered re-routing which would allow you: to depart no more than 2 hours before the original scheduled time of departure and to reach your final destination less than 4 hours after the original scheduled time of arrival</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informed between 2 weeks and 7 days before the scheduled departure and you are offered re-routing which would allow you: to depart no more than 2 hours before the original scheduled time of departure and to reach your final destination less than 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_flight</name>
        <choiceText>1 flight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 flight</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1flight</name>
        <choiceText>1 flight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 flight</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2flights</name>
        <choiceText>2 flights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 flights</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3flights</name>
        <choiceText>3 flights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 flights</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>CaseRcordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120E00000035kJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContactId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0030E00000H3cCi</stringValue>
        </value>
    </constants>
    <constants>
        <name>Description_NoEuScope</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The flight geographic scope is not applicable to EU 261 regulation</stringValue>
        </value>
    </constants>
    <constants>
        <name>EU</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EU</stringValue>
        </value>
    </constants>
    <constants>
        <name>IsVisbleSelfService</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>Null</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Claim_Type_D</name>
        <label>DecisionPoint2</label>
        <locationX>711</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flight_Cancellation</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Nature_of_the_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancellation_1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DepartAirportIsEu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArrivalAirportIsEu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCarrier_EU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Claim_Type_Cancelation</targetReference>
            </connector>
            <label>Flight Cancellation</label>
        </rules>
        <rules>
            <name>Flight_Delay</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Nature_of_the_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delayed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DepartAirportIsEu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArrivalAirportIsEu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCarrier_EU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Claim_Type_Delay</targetReference>
            </connector>
            <label>Flight_Delay</label>
        </rules>
        <rules>
            <name>Flight_Denied_boarding</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Nature_of_the_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Denied_Boarding_1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArrivalAirportIsEu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DepartAirportIsEu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCarrier_EU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Flight_Denied_boarding</label>
        </rules>
        <rules>
            <name>NotEU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DepartAirportIsEu</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCarrier_EU</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ArrivalAirportIsEu</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentNoEU</targetReference>
            </connector>
            <label>NotEU</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionPoint6</name>
        <label>DecisionPoint6</label>
        <locationX>1472</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DelayFirstFlight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is1FlightDelayed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlightSectionDelay_1</targetReference>
            </connector>
            <label>DelayFirstFlight</label>
        </rules>
        <rules>
            <name>DelaySecondFlight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is1FlightDelayed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DelayFlightSection_2</targetReference>
            </connector>
            <label>DelaySecondFlight</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionPoint7</name>
        <label>DecisionPoint7</label>
        <locationX>1134</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OperatingCarrier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isYouOperatingCarrier1Flight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Compensation</targetReference>
            </connector>
            <label>OperatingCarrier</label>
        </rules>
        <rules>
            <name>NotOperatingCarrier2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isYouOperatingCarrier1Flight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotOperatingCarrier</targetReference>
            </connector>
            <label>NotOperatingCarrier</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionPoint8</name>
        <label>DecisionPoint8</label>
        <locationX>1289</locationX>
        <locationY>721</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isSecondFlightDelayed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is2FlightDelayed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputScreen9</targetReference>
            </connector>
            <label>DelaySecondFlight</label>
        </rules>
        <rules>
            <name>NoDelaySecondFlight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is2FlightDelayed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoDelayedSecondFlight</targetReference>
            </connector>
            <label>NoDelaySecondFlight</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionPoint9</name>
        <label>DecisionPoint9</label>
        <locationX>855</locationX>
        <locationY>836</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OperatingCarrier2Flight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isYouOperatingCarrier2Flight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Compensation</targetReference>
            </connector>
            <label>OperatingCarrier2Flight</label>
        </rules>
        <rules>
            <name>NotOperatingCarrier2Flight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isYouOperatingCarrier2Flight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment10</targetReference>
            </connector>
            <label>NotOperatingCarrier2Flight</label>
        </rules>
    </decisions>
    <decisions>
        <name>need_to_check_if_is_unsure_circumstances</name>
        <label>need to check if is unsure circumstances</label>
        <locationX>1288</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Input_Screen_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_unsure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>extraordinary_circumstances_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unsure</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>determine_if_is_extraordinary_circumstances</targetReference>
            </connector>
            <label>is unsure</label>
        </rules>
    </decisions>
    <decisions>
        <name>X14DaysAdvance</name>
        <label>DecisionPoint3</label>
        <locationX>1307</locationX>
        <locationY>16</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>week_2_before_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Noticed_period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>informed_more_14_days_in_advance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>week_2_before_Cancellation</label>
        </rules>
        <rules>
            <name>weeks_2_7_days_Cancellation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Noticed_period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>weeks_2_days_7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Noticed_period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>less_7_days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Noticed_period</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>weeks_2_Or_7_days_Cancellation</label>
        </rules>
        <rules>
            <name>passager_not_informed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Noticed_period</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_informed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_5</targetReference>
            </connector>
            <label>not informed</label>
        </rules>
    </decisions>
    <interviewLabel>Claim EU261 2 Flight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim EU261 2 Flight</label>
    <processType>Flow</processType>
    <screens>
        <name>Feature_Request_Information</name>
        <label>Input Screen 3</label>
        <locationX>1061</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X14DaysAdvance</targetReference>
        </connector>
        <fields>
            <name>Noticed_period</name>
            <choiceReferences>informed_more_14_days_in_advance</choiceReferences>
            <choiceReferences>weeks_2_days_7</choiceReferences>
            <choiceReferences>less_7_days</choiceReferences>
            <choiceReferences>Not_informed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Notice periods</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final_Screen</label>
        <locationX>715</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FinalDescription</targetReference>
        </connector>
        <fields>
            <name>Result</name>
            <fieldText>The compensation amount and the description are defined below:

- Compensation Amount = {!CompensationAmount}

- Description: 
{!Description}

*********************************************************************
Inputs Summary: 
- Departure Airport = {!Departure_Airport} 
- is the Departure Airport from EU = {!DepartAirportIsEu}
- Connectin Airport = {!Connecting_Airport}
- is the connecting Airport from EU =  {!ConnectingAirportIsEu}
- Arrival Airport = {!Arrival_Airport}
- is the Arrival Airport from EU = {!ArrivalAirportIsEu}
- Flight Distance (from first Departure to last Arrival) = {!FlightDistance} kms
- is the Carrier from EU = {!isCarrier_EU}
- Delay time = {!Delayed_Flight_Time}
- Extraordinary Circumstance = {!extraordinary_circumstances_option}
- Did a delay in the arrival of the first flight cause a missed connection? {!is1FlightDelayed}
- Delay caused by flight section = {!DelayFlightSection}
- Were you the operating carrier of the first flight? {!isYouOperatingCarrier1Flight}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_5</name>
        <label>Input Screen 5</label>
        <locationX>1288</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_extraordinary_circumstances</targetReference>
        </connector>
        <fields>
            <name>FlightDistanceMessage</name>
            <fieldText>Following the Great-circle distance formula, the Flight Distance was {!FlightDistance} kms.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delayed_Flight_Time</name>
            <choiceReferences>Between_0h_3h</choiceReferences>
            <choiceReferences>Between_3h_4h</choiceReferences>
            <choiceReferences>More_4h</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long were you delayed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayInformation3</name>
            <fieldText>The Court has concluded that the concept of time of arrival, which is used to determine the length of the delay to which passengers on a flight have been subject if arrival is delayed, corresponds to the time at which at least one of the doors of the aircraft is opened, the assumption being that, at that moment, the passengers are permitted to leave the aircraft (31).The Commission considers that the operating air carrier should register the time of arrival on the basis of, for instance, a signed declaration by the flight crew or handling agent. The time of arrival should be provided free of charge upon request to the national enforcement body and the passengers where the operating air carrier seeks to rely on the arrival time as evidence of compliance with the Regulation.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extraordinary_Circumstances</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <choiceReferences>Unsure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were there extraordinary circumstances?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_6</name>
        <label>Input Screen 6</label>
        <locationX>1290</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionPoint6</targetReference>
        </connector>
        <fields>
            <name>is1FlightDelayed</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#003366&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!was_first_flight_delayCancel}&lt;FONT COLOR=&quot;#006699&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#006699&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#999999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#999999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#006699&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputScreen7</name>
        <label>InputScreen7</label>
        <locationX>1294</locationX>
        <locationY>632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionPoint7</targetReference>
        </connector>
        <fields>
            <name>isYouOperatingCarrier1Flight</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you the operating carrier of the first flight?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputScreen8</name>
        <label>InputScreen8</label>
        <locationX>1494</locationX>
        <locationY>590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionPoint8</targetReference>
        </connector>
        <fields>
            <name>is2FlightDelayed</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#003366&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!was_the_second_flight_delayCancel}&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputScreen9</name>
        <label>InputScreen9</label>
        <locationX>1151</locationX>
        <locationY>835</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionPoint9</targetReference>
        </connector>
        <fields>
            <name>isYouOperatingCarrier2Flight</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you the operating carrier of the 2nd flight?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question2</name>
        <label>Input Screen 2</label>
        <locationX>246</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flight_Information</targetReference>
        </connector>
        <fields>
            <name>Departure_Airport</name>
            <dataType>String</dataType>
            <fieldText>Originating airport (IATA Code)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. IATA Code is a 3 upper case letters  e.g. CDG</errorMessage>
                <formulaExpression>NOT( OR (
LEN ({!Departure_Airport}) != 3, 
{!Departure_Airport} != UPPER({!Departure_Airport}),
NOT (REGEX({!Departure_Airport} , &quot;[A-Z]+&quot;))
))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Connecting_Airport</name>
            <dataType>String</dataType>
            <fieldText>Connecting airport (IATA Code)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. IATA Code is a 3 upper case letters  e.g. CDG</errorMessage>
                <formulaExpression>NOT( OR (
LEN ({!Connecting_Airport}) != 3, 
{!Connecting_Airport} != UPPER({!Connecting_Airport}),
NOT (REGEX({!Connecting_Airport} , &quot;[A-Z]+&quot;))
))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Arrival_Airport</name>
            <dataType>String</dataType>
            <fieldText>Destination airport (IATA Code)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field. IATA Code is a 3 upper case letters  e.g. CDG</errorMessage>
                <formulaExpression>NOT( OR (
LEN ({!Arrival_Airport}) != 3, 
{!Arrival_Airport} != UPPER({!Arrival_Airport}),
NOT(REGEX({!Arrival_Airport} , &quot;[A-Z]+&quot;))
))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>InformationMessage3</name>
            <fieldText>* IATA Code is a 3 upper case letters  e.g. CDG</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceline</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>isCarrier_EU</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you an EU Carrier?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Jurisdiction_123</name>
            <fieldText>Country of Orignating Airport determines Juridiction.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceLine2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nature_of_the_Claim</name>
            <choiceReferences>Delayed</choiceReferences>
            <choiceReferences>Cancellation_1</choiceReferences>
            <choiceReferences>Denied_Boarding_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nature of the claim</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Question2</startElementReference>
    <status>Active</status>
    <subflows>
        <name>determine_if_is_extraordinary_circumstances</name>
        <label>determine if is extraordinary circumstances</label>
        <locationX>1475</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>Input_Screen_6</targetReference>
        </connector>
        <flowName>Claim_EU261_Determine_extraordinary_circumstances</flowName>
        <outputAssignments>
            <assignToReference>extraordinary_circumstances_option</assignToReference>
            <name>Extraordinary_Circumstances</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>NewLine</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>ArrivalAirportIsEu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claim_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompensationAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConnectingAirportIsEu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>d1500</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1500.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>define which flight section caused the delay</description>
        <name>DelayFlightSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>123</stringValue>
        </value>
    </variables>
    <variables>
        <name>DepartAirportIsEu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>extraordinary_circumstances_option</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Flight1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flight3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3 flights</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlightDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Flights2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2 flights</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>was_first_flight_delayCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Did a delay in the arrival of the first flight cause a missed connection on the second flight resulting in the delay on arrival at final destination?</stringValue>
        </value>
    </variables>
    <variables>
        <name>was_the_second_flight_delayCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
