src/flows/Claim.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Run_Case_Assignment_Rules</name>
        <label>Run Case Assignment Rules</label>
        <locationX>889</locationX>
        <locationY>460</locationY>
        <apexClass>CaseAssignRulesPlug</apexClass>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>ExistDisclamer</name>
        <label>ExistDisclamer</label>
        <locationX>499</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>CompensationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User didn&apos;t agree to disclaimer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalCaseCreation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Between_0h_3h</name>
        <choiceText>0 to 3 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0 to 3 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_3h_4h</name>
        <choiceText>3 to 4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 to 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation_1</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delayed</name>
        <choiceText>Delayed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delayed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delays</name>
        <choiceText>Delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Denied_boarding</name>
        <choiceText>Denied boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied boarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Denied_Boarding_1</name>
        <choiceText>Denied Boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied Boarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>informed_more_14_days_in_advance</name>
        <choiceText>Informed more than 14 days in advance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informed more than 14 days in advance</stringValue>
        </value>
    </choices>
    <choices>
        <name>less_2h</name>
        <choiceText>[0,2h]</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[0,2h]</stringValue>
        </value>
    </choices>
    <choices>
        <name>less_7_days</name>
        <choiceText>Informed less than 7 days before the scheduled departure and are offered re-routing which would allow you: to depart no more than 1 hour before the original scheduled time of departure and to reach your final destination less than 2 hours after the original scheduled time of arrival.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informed less than 7 days before the scheduled departure and are offered re-routing which would allow you: to depart no more than 1 hour before the original scheduled time of departure and to reach your final destination less than 2 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_4h</name>
        <choiceText>More than 4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_informed</name>
        <choiceText>Not informed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not informed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status</name>
        <choiceText>Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsure</name>
        <choiceText>Unsure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsure</stringValue>
        </value>
    </choices>
    <choices>
        <name>weeks_2_days_7</name>
        <choiceText>Informed between 2 weeks and 7 days before the scheduled departure and you are offered re-routing which would allow you: to depart no more than 2 hours before the original scheduled time of departure and to reach your final destination less than 4 hours after the original scheduled time of arrival</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informed between 2 weeks and 7 days before the scheduled departure and you are offered re-routing which would allow you: to depart no more than 2 hours before the original scheduled time of departure and to reach your final destination less than 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_flight</name>
        <choiceText>1 flight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 flight</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1flight</name>
        <choiceText>1 flight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 flight</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2flights</name>
        <choiceText>2 flights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 flights</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3flights</name>
        <choiceText>3 flights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 flights</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>0120E00000035kJ</description>
        <name>CaseRcordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120E00000035kJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContactId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0030E00000JSM4x</stringValue>
        </value>
    </constants>
    <constants>
        <name>Description_NoEuScope</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The flight geographic scope is not applicable to EU 261 regulation</stringValue>
        </value>
    </constants>
    <constants>
        <name>EU</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EU</stringValue>
        </value>
    </constants>
    <constants>
        <name>IsVisbleSelfService</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>Null</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DisclaimerAgreementDecision</name>
        <label>DisclaimerAgreement</label>
        <locationX>167</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DisclaimerDecisionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisclaimerAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateUserDisclaimerDate</targetReference>
            </connector>
            <label>DisclaimerDecisionYes</label>
        </rules>
        <rules>
            <name>DisclaimerDecisionNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisclaimerAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistDisclamer</targetReference>
            </connector>
            <label>DisclaimerDecisionNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>FlightSections</name>
        <label>DecisionPoint1</label>
        <locationX>475</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flight1Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_flights_during_the_trip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X1_flight</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EU261_1_Flight</targetReference>
            </connector>
            <label>1flight</label>
        </rules>
        <rules>
            <name>Flights2decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_flights_during_the_trip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X2flights</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EU261_2_Flights</targetReference>
            </connector>
            <label>2flights</label>
        </rules>
        <rules>
            <name>Flights3decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_flights_during_the_trip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X3flights</elementReference>
                </rightValue>
            </conditions>
            <label>3flights</label>
        </rules>
    </decisions>
    <decisions>
        <name>show_disclaimerDecision</name>
        <label>show disclaimerDecision</label>
        <locationX>376</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>Intro_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>show_disclaimer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LastDateDisclaimer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastDateDisclaimer</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>already_saw_Disclaimer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disclaimer</targetReference>
            </connector>
            <label>show disclaimer</label>
        </rules>
    </decisions>
    <formulas>
        <name>already_saw_Disclaimer</name>
        <dataType>Boolean</dataType>
        <expression>MONTH({!$Flow.CurrentDate}) == MONTH({!LastDateDisclaimer})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Claim EU261 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim EU261</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>FinalCaseCreation</name>
        <label>FinalCaseCreation</label>
        <locationX>702</locationX>
        <locationY>465</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Run_Case_Assignment_Rules</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Description} &lt;br/&gt; - Airline reference number = {!Case_Number}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRcordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CompensationAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>CaseSelection</name>
        <label>CaseSelection</label>
        <locationX>172</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FlightSections</targetReference>
        </connector>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRcordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentUserFields</name>
        <label>CurrentUserFields</label>
        <locationX>569</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>show_disclaimerDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LastDateDisclaimer</assignToReference>
            <field>DisclaimerLastDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUserDisclaimerDate</name>
        <label>UpdateUserDisclaimerDate</label>
        <locationX>171</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DisclaimerLastDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Disclaimer</name>
        <label>Disclaimer</label>
        <locationX>167</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisclaimerAgreementDecision</targetReference>
        </connector>
        <fields>
            <name>DisplaimerText</name>
            <fieldText>1. IATA AutoCheck is an automated process tool designed to assist you in assessing and managing your high volume claims workflow. IATA AutoCheck responds to inputs made by the user to deliver a “query result” on the basis of the logic of EU Regulation 261/2004.
2. IATA AutoCheck is not a substitute for review by a trained legal professional and should only be used under the direction and supervision of qualified lawyers in your corporate legal department.
3. A query result from IATA AutoCheck does not represent legal advice on an individual claim and you should not rely on it as such. There are inherent limitations to an automated process tool like IATA AutoCheck. The query result may not reflect all circumstances relevant to a claim and it may not reflect applicable procedural or other law in the country that governs the claim.
4. You agree, by using IATA AutoCheck, that:
  1   you understand its inherent limitations as an automated process tool;
  2   you will only use IATA AutoCheck under the supervision and direction of your corporate legal department and in accordance with applicable company policy on the use of IATA AutoCheck in the claims management process.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceLine</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisclaimerAgreement</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I agree</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_0</name>
        <label>Input Screen 0</label>
        <locationX>33</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
        <fields>
            <name>Case_Number2</name>
            <dataType>String</dataType>
            <fieldText>Case Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InformationMessage5</name>
            <fieldText>Optional information (you can skip and click directly on Next)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InformationMessage2</name>
            <fieldText>1. Claim compensation shall apply on the condition that passengers: 
(a) have a confirmed reservation on the flight concerned and, except in the case of cancellation referred to in Article 5, present themselves for check-in, — as stipulated and at the time indicated in advance and in writing (including by electronic means) by the air carrier, the tour operator or an authorised travel agent, or, if no time is indicated, — not later than 45 minutes before the published departure time; or 
(b) have been transferred by an air carrier or tour operator from the flight for which they held a reservation to another flight, irrespective of the reason.

2. This Regulation shall not apply to passengers travelling free of charge or at a reduced fare not available directly or indirectly to the public. However, it shall apply to passengers having tickets issued under a frequent flyer programme or other commercial programme by an air carrier or tour operator.

3. This Regulation shall only apply to passengers transported by motorised fixed wing aircraft. 

4. This Regulation shall apply to any operating air carrier providing transport to passengers covered by paragraphs 1 and 2. Where an operating air carrier which has no contract with the passenger performs obligations under this Regulation, it shall be regarded as doing so on behalf of the person having a contract with that passenger. 6. This Regulation shall not affect the rights of passengers under Directive 90/314/EEC. This Regulation shall not apply in cases where a package tour is cancelled for reasons other than cancellation of the flight.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Input Screen 1</label>
        <locationX>169</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CaseSelection</targetReference>
        </connector>
        <fields>
            <name>InformationMessage4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Number</name>
            <dataType>String</dataType>
            <fieldText>Airline reference number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Claim_Creation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Claim Creation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_flights_during_the_trip</name>
            <choiceReferences>X1_flight</choiceReferences>
            <choiceReferences>X2flights</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of flights during the trip</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InformationMessage1</name>
            <fieldText>All flights need to be on a single ticket</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CurrentUserFields</startElementReference>
    <status>Active</status>
    <subflows>
        <name>EU261_1_Flight</name>
        <label>EU261 1 Flight</label>
        <locationX>590</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>FinalCaseCreation</targetReference>
        </connector>
        <flowName>Claim_EU261_1flight</flowName>
        <outputAssignments>
            <assignToReference>CompensationAmount</assignToReference>
            <name>CompensationAmount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <name>Description</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>EU261_2_Flights</name>
        <label>EU261 2 Flights</label>
        <locationX>353</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>FinalCaseCreation</targetReference>
        </connector>
        <flowName>Claim_EU261_2_Flight</flowName>
        <outputAssignments>
            <assignToReference>CompensationAmount</assignToReference>
            <name>CompensationAmount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <name>Description</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ArrivalAirportIsEu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompensationAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>d1500</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1500.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DepartAirportIsEu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Description</elementReference>
        </value>
    </variables>
    <variables>
        <name>Flight1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flight3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3 flights</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlightDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>Flights2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2 flights</stringValue>
        </value>
    </variables>
    <variables>
        <name>LastDateDisclaimer</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0010E00000IcURa</stringValue>
        </value>
    </variables>
    <variables>
        <description>all variables to create a new Case</description>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0030E00000JSM4x</stringValue>
        </value>
    </variables>
</Flow>
