src/flows/E_F_APPS_Provisioning_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>SCIM_Create_User</name>
        <label>SCIM Create User</label>
        <locationX>1104</locationX>
        <locationY>281</locationY>
        <apexClass>SCIMCreateUserPlugin</apexClass>
        <inputParameters>
            <name>userPayload</name>
            <value>
                <elementReference>UserPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Create_User_Generator</name>
        <label>SCIM Create User Generator</label>
        <locationX>859</locationX>
        <locationY>281</locationY>
        <apexClass>SCIMUserAttributeGeneratorPlugin</apexClass>
        <connector>
            <targetReference>SCIM_Create_User</targetReference>
        </connector>
        <inputParameters>
            <name>active</name>
            <value>
                <elementReference>UserFields.IsActive</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>displayName</name>
            <value>
                <elementReference>UserFields.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>UserFields.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entitlement</name>
            <value>
                <elementReference>ProjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>UserFields.FederationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>UserFields.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>UserFields.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredLanguage</name>
            <value>
                <elementReference>PreferredLanguage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>UserFields.Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserPayload</assignToReference>
            <name>userPayload</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Delete_User</name>
        <label>SCIM Delete User</label>
        <locationX>324</locationX>
        <locationY>307</locationY>
        <apexClass>SCIMDeleteUserPlugin</apexClass>
        <inputParameters>
            <name>CallParams</name>
            <value>
                <elementReference>CallParams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Update_User</name>
        <label>SCIM Update User</label>
        <locationX>817</locationX>
        <locationY>470</locationY>
        <apexClass>SCIMUpdateUserPlugin</apexClass>
        <inputParameters>
            <name>userPayload</name>
            <value>
                <elementReference>UserPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SCIM_Update_User_Generator</name>
        <label>SCIM Update User Generator</label>
        <locationX>581</locationX>
        <locationY>470</locationY>
        <apexClass>SCIMUserAttributeGeneratorPlugin</apexClass>
        <connector>
            <targetReference>SCIM_Update_User</targetReference>
        </connector>
        <inputParameters>
            <name>active</name>
            <value>
                <elementReference>UserFields.IsActive</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>displayName</name>
            <value>
                <elementReference>UserFields.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>UserFields.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entitlement</name>
            <value>
                <elementReference>ProjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>UserFields.FederationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>UserFields.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>UserFields.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredLanguage</name>
            <value>
                <elementReference>PreferredLanguage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>UserFields.Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserPayload</assignToReference>
            <name>userPayload</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>E_and_F</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;E&amp;F&apos;</stringValue>
        </value>
    </constants>
    <constants>
        <name>EFAPPS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EFAPPS</stringValue>
        </value>
    </constants>
    <constants>
        <name>EFAPPSName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>E&amp;F APPS</stringValue>
        </value>
    </constants>
    <constants>
        <name>RTServiceAdmin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&apos;Service_Admin&apos;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>576</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Create_User_Generator</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Update_User_Generator</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCIM_Delete_User</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <formulas>
        <name>CallParams</name>
        <dataType>String</dataType>
        <expression>&apos;{&apos;+
&apos; &quot;externalSystems&quot; : &quot;&apos; + {!EFAPPS} + &apos;&quot; &apos; +
&apos;}&apos;</expression>
    </formulas>
    <formulas>
        <name>PreferredLanguage</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT(TEXT({!UserFields.LanguageLocaleKey}), 2))</expression>
    </formulas>
    <formulas>
        <name>ProjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;E&amp;F APPS&apos;</expression>
    </formulas>
    <interviewLabel>E&amp;F APPS Provisioning Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E&amp;F APPS Provisioning Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>UserProvisioningFlow</processType>
    <recordLookups>
        <name>Fetch_More_User_Info</name>
        <label>Fetch More User Info</label>
        <locationX>583</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserFields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
    </recordLookups>
    <start>
        <locationX>261</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Fetch_More_User_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UPAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
