src/flows/IHub_Approval_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>setApprove</name>
        <label>setApprove</label>
        <locationX>415</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>getIHubDetail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Marked_For_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateIHubDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraft</name>
        <label>setDraft</label>
        <locationX>416</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>getIHubDetail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Marked_For_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateIHubDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValuesScreen1</name>
        <label>setValuesScreen1</label>
        <locationX>1044</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>getIHubDetail.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Legal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Also_Known_As__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Also_Known_As</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Contact_info_of_startup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_info_of_startup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Contact_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Contact_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Facebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facebook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Instagram__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instagram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Twitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Twitter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.LinkedIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinkedIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.GitHub__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GitHub</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Telegram__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telegram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Company_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Overview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValuesScreen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValuesScreen2</name>
        <label>setValuesScreen2</label>
        <locationX>1084</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>getIHubDetail.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Competitive_Advantage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitive_Advantage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getIHubDetail.Competition_Competitors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competition_Competitors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValuesScreen3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValuesScreen3</name>
        <label>setValuesScreen3</label>
        <locationX>851</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>getIHubDetail.Internal_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkDecision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>approveChoice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>rejectChoice</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkDecision</name>
        <label>checkDecision</label>
        <locationX>668</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>setApprove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approve</defaultConnectorLabel>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalApprovalAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rejectChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraft</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>categories</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tags_Of_Categories__c</picklistField>
        <picklistObject>IH_Account_Role_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Focus_Areas</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Focus_Areas__c</picklistField>
        <picklistObject>IH_Account_Role_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>IH_Account_Role_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Technology</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Technology__c</picklistField>
        <picklistObject>IH_Account_Role_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>IHub Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innovation Hub - Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getIHubDetail</name>
        <label>getIHubDetail</label>
        <locationX>177</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IH_Account_Role_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateIHubDetail</name>
        <label>updateIHubDetail</label>
        <locationX>144</locationX>
        <locationY>434</locationY>
        <inputReference>getIHubDetail</inputReference>
    </recordUpdates>
    <screens>
        <name>BusinessNews</name>
        <label>Business Solution(s)/Recent News</label>
        <locationX>602</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FinalDecision</targetReference>
        </connector>
        <fields>
            <name>BusinessSolutions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Business Solution(s)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessNews_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>News</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Recent News&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recent_News</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getIHubDetail.Recent_News__c</elementReference>
            </defaultValue>
            <fieldText>Recent News</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalDecision</name>
        <label>Decision</label>
        <locationX>832</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setValuesScreen1</targetReference>
        </connector>
        <fields>
            <name>Observations</name>
            <defaultValue>
                <stringValue>{!getIHubDetail.Internal_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Observations</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>finalApprovalAction</name>
            <choiceReferences>approveChoice</choiceReferences>
            <choiceReferences>rejectChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>About/Startup Overview</label>
        <locationX>366</locationX>
        <locationY>235</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BusinessNews</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;IH Account Role Detail - &lt;i&gt;{!getIHubDetail.Company_Name__c}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>About</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;About&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SocialMedia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Social Media&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StartupOverview</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Startup Overview&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getIHubDetail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
