src/flows/InnovationHubAccountRoleDetailPublish.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkSuccess</name>
        <label>checkSuccess</label>
        <locationX>329</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>FailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProviderUpdated.Published__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasPublishedProvider</name>
        <label>hasPublishedProvider</label>
        <locationX>1184</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>PublishProvider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentPublishedProvider.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deletePreviousPublished</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>InnovationHubAccountRoleDetailPublish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innovation Hub - Provider Publish Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deletePreviousPublished</name>
        <label>deletePreviousPublished</label>
        <locationX>773</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>PublishProvider</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentPublishedProvider.Id</elementReference>
            </value>
        </filters>
        <object>IH_Account_Role_Detail__c</object>
    </recordDeletes>
    <recordLookups>
        <name>getCurrentPublishedProvider</name>
        <label>getCurrentPublishedProvider</label>
        <locationX>1138</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasPublishedProvider</targetReference>
        </connector>
        <filters>
            <field>Account_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProviderToPublish.Account_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IH_Account_Role_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProviderToPublish</name>
        <label>getProviderToPublish</label>
        <locationX>683</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCurrentPublishedProvider</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IH_Account_Role_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProviderUpdated</name>
        <label>getProviderUpdated</label>
        <locationX>533</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IH_Account_Role_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Published__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PublishProvider</name>
        <label>PublishProvider</label>
        <locationX>773</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>getProviderUpdated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Published__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IH_Account_Role_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>FailScreen</name>
        <label>FailScreen</label>
        <locationX>47</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(250, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;Something went wrong. Please try again.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(9, 224, 77); font-size: 20px;&quot;&gt;&lt;i&gt;Your provider was published sucessfully.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getProviderToPublish</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
