src/flows/ISSP_DPC_Notification_flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CASSLink_ACR_Notification</name>
        <label>CASSLink ACR Notification</label>
        <locationX>129</locationX>
        <locationY>446</locationY>
        <actionName>Case.ISSP_Send_DPC_HP_ACR_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CASSLink_DPC_Notification</name>
        <label>CASSLink DPC Notification</label>
        <locationX>298</locationX>
        <locationY>446</locationY>
        <actionName>Case.ISSP_Send_DPC_HP_Service_Request_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DB_India_Notification</name>
        <label>DB India Notification</label>
        <locationX>803</locationX>
        <locationY>312</locationY>
        <actionName>Case.ISSP_Send_DP_Service_Request_DBIndia_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Germany_notification</name>
        <label>Germany notification</label>
        <locationX>1071</locationX>
        <locationY>313</locationY>
        <actionName>Case.ISSP_Send_DPC_T_Systems_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IBSP_Notification</name>
        <label>IBSP Notification</label>
        <locationX>645</locationX>
        <locationY>311</locationY>
        <actionName>Case.ISSP_Send_DP_Service_Request_ACCA_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ILDS_Notification</name>
        <label>ILDS Notification</label>
        <locationX>505</locationX>
        <locationY>311</locationY>
        <actionName>Case.ISSP_Send_DP_Service_Request_ILDS_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Maestro_Notification</name>
        <label>Maestro Notification</label>
        <locationX>366</locationX>
        <locationY>312</locationY>
        <actionName>Case.ISSP_Send_DPC_Notification_to_Accelya_Maestro</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Multicarta_Notification</name>
        <label>Multicarta Notification</label>
        <locationX>938</locationX>
        <locationY>315</locationY>
        <actionName>Case.ISSP_Send_DP_Service_Request_Multicarta_email_notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>DPC_system</name>
        <label>DPC system</label>
        <locationX>645</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CassLink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASSlink</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process</targetReference>
            </connector>
            <label>CASSLink</label>
        </rules>
        <rules>
            <name>Maestro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maestro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maestro_Notification</targetReference>
            </connector>
            <label>Maestro</label>
        </rules>
        <rules>
            <name>ILDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILDS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ILDS_Notification</targetReference>
            </connector>
            <label>ILDS</label>
        </rules>
        <rules>
            <name>IBSP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBSP1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBSPs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IBSP_Notification</targetReference>
            </connector>
            <label>IBSP</label>
        </rules>
        <rules>
            <name>DB_India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DB India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DB_India_Notification</targetReference>
            </connector>
            <label>DB India</label>
        </rules>
        <rules>
            <name>Multicarta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multicarta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multicarta_Notification</targetReference>
            </connector>
            <label>Multicarta</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DPC_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_notification</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process</name>
        <label>Process</label>
        <locationX>234</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ACR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2.0 IE approved - Escalated DPC for PQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CASSLink_ACR_Notification</targetReference>
            </connector>
            <label>ACR</label>
        </rules>
        <rules>
            <name>DPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CASSLink_DPC_Notification</targetReference>
            </connector>
            <label>DPC</label>
        </rules>
    </decisions>
    <interviewLabel>ISSP DPC Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ISSP DPC Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>DPC_system</startElementReference>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
