src/flows/Notification_to_ICCS_Contact_upon_closing_an_ASP_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_With_CD_Users</name>
        <label>Notification With CD Users</label>
        <locationX>331</locationX>
        <locationY>105</locationY>
        <actionName>Case.Notification_to_ICCS_Contact_upon_closing_an_Authorized_Signatories_ASP_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_Without_CD_Users</name>
        <label>Notification Without CD Users</label>
        <locationX>157</locationX>
        <locationY>241</locationY>
        <actionName>Case.Notification_to_ICCS_Contact_upon_closing_an_ASP_Case_Without_CD_Users</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>hasCDusers</name>
        <label>hasCDusers</label>
        <locationX>158</locationX>
        <locationY>105</locationY>
        <defaultConnector>
            <targetReference>Notification_Without_CD_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hasCDYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Acceptance_checklist__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CitiDirect User Rights granted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_With_CD_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Notification to ICCS Contact upon closing an ASP Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification to ICCS Contact upon closing an ASP Case</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>hasCDusers</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
