src/flows/OscarCaseMigration-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apexPluginCalls>
        <name>RunMigrationProcess</name>
        <label>RunMigrationProcess</label>
        <locationX>138</locationX>
        <locationY>435</locationY>
        <apexClass>AMS_OscarMigrationFromCase</apexClass>
        <connector>
            <targetReference>MigrationResultDecision</targetReference>
        </connector>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>concernedAgencyCodes</name>
            <value>
                <elementReference>Agency_Codes_Concerned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <elementReference>processType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scopeOfChange</name>
            <value>
                <elementReference>Scope_of_Change</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>oscarId</assignToReference>
            <name>oscarId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseNumber</assignToReference>
            <name>caseNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>summaryMessage</assignToReference>
            <name>summaryMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>OscarProcessTypeAssignment</name>
        <label>OscarProcessTypeAssignment</label>
        <locationX>139</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>processType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_choose_the_process_to_convert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunMigrationProcess</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency_changes</name>
        <choiceText>Agency Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MAJOR.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>Branch_office_abroad_agency_accreditation</name>
        <choiceText>Branch Office Agency (abroad)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR.ABROAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificate_DGR</name>
        <choiceText>Certificate DGR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CERTIFICATION.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_of_Bank_Account_Details</name>
        <choiceText>Change of Bank Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BANK.ACCOUNT.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correction</name>
        <choiceText>Correction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CORRECTION.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>HO_All_Branches</name>
        <choiceText>HO - All Branches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HO - All Branches</stringValue>
        </value>
    </choices>
    <choices>
        <name>HO_Only</name>
        <choiceText>HO Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HO Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>HO_Selected_Branches</name>
        <choiceText>HO - Selected Branches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HO - Selected Branches</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSO_Agency</name>
        <choiceText>MSO Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.MSO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_BR_IP</name>
        <choiceText>Branch Office Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessAHA</name>
        <choiceText>AHA Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.AHA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessDD</name>
        <choiceText>Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BANK.ACCOUNT.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessGSA</name>
        <choiceText>GSA Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.GSA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessHO</name>
        <choiceText>Head Office Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.HO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessSA</name>
        <choiceText>New SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.SA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAX_CARGO_Certificate</name>
        <choiceText>PAX/CARGO Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CER.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_agency_accreditation</name>
        <choiceText>SA agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.SA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Selected_Branches_Only</name>
        <choiceText>Selected Branches Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Selected Branches Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>TIDS_agency_accreditation</name>
        <choiceText>TIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.TIDS.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary_Relinquishment_CA</name>
        <choiceText>Voluntary Relinquishment (Code Assignment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VR.1.0.CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>VoluntaryRelinquishment</name>
        <choiceText>Voluntary Relinquishment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VR.1.0</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Change_of_Bank_Details</name>
        <label>Is Change of Bank Details ?</label>
        <locationX>140</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>OscarProcessTypeAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Changes</defaultConnectorLabel>
        <rules>
            <name>Change_of_Bank_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_process_to_convert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_of_Bank_Account_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Bank_Details_Change</targetReference>
            </connector>
            <label>Change of Bank Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>MigrationResultDecision</name>
        <label>MigrationResultDecision</label>
        <locationX>134</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>ResultPage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MigrationIsOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResultPage</targetReference>
            </connector>
            <label>MigrationIsOk</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Scope_of_Change</name>
        <label>What is the Scope of Change ?</label>
        <locationX>684</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Provide_Concerned_Agency_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Branches</defaultConnectorLabel>
        <rules>
            <name>None_All_Branches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Scope_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HO_All_Branches</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scope_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HO_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OscarProcessTypeAssignment</targetReference>
            </connector>
            <label>None/All Branches</label>
        </rules>
    </decisions>
    <description>New Wizard for SAAM case Migration</description>
    <dynamicChoiceSets>
        <name>Accreditation_Scope_of_Change</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scope_of_Change__c</picklistField>
        <picklistObject>AMS_Pax_Accreditation_Form__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>OscarCaseMigration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OscarCaseMigration Working Version</label>
    <processType>Flow</processType>
    <screens>
        <name>Case_Oscar_Process_Chooser_Screen</name>
        <label>Case Oscar Process Chooser Screen</label>
        <locationX>140</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Change_of_Bank_Details</targetReference>
        </connector>
        <fields>
            <name>CaseOscarProcessText</name>
            <fieldText>This process enables you to create an OSCAR process from the SAAM case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_choose_the_process_to_convert</name>
            <choiceReferences>NewProcessHO</choiceReferences>
            <choiceReferences>New_BR_IP</choiceReferences>
            <choiceReferences>Branch_office_abroad_agency_accreditation</choiceReferences>
            <choiceReferences>NewProcessSA</choiceReferences>
            <choiceReferences>Agency_changes</choiceReferences>
            <choiceReferences>NewProcessDD</choiceReferences>
            <choiceReferences>VoluntaryRelinquishment</choiceReferences>
            <choiceReferences>Certificate_DGR</choiceReferences>
            <choiceReferences>PAX_CARGO_Certificate</choiceReferences>
            <choiceReferences>NewProcessGSA</choiceReferences>
            <choiceReferences>NewProcessAHA</choiceReferences>
            <choiceReferences>MSO_Agency</choiceReferences>
            <choiceReferences>TIDS_agency_accreditation</choiceReferences>
            <choiceReferences>Voluntary_Relinquishment_CA</choiceReferences>
            <choiceReferences>Correction</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the process to convert</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Concerned_Agency_Codes</name>
        <label>Provide Concerned Agency Codes</label>
        <locationX>683</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OscarProcessTypeAssignment</targetReference>
        </connector>
        <fields>
            <name>AgencyCodesInstructionsText</name>
            <fieldText>Please provide the IATA codes of the Agency Branches concerned by the changes, separated by commas (e.g.: 23100011,23100022)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agency_Codes_Concerned</name>
            <fieldText>Agency Codes Concerned</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultPage</name>
        <label>ResultPage</label>
        <locationX>134</locationX>
        <locationY>667</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreated</name>
            <fieldText>You&apos;ve completed the wizard.

{!summaryMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultPage_0</name>
        <label>ResultPage</label>
        <locationX>388</locationX>
        <locationY>541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreated_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An error has occured during the migration process:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!errorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please report this to the Support Team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Bank_Details_Change</name>
        <label>Type of Bank Details Change</label>
        <locationX>441</locationX>
        <locationY>126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_Scope_of_Change</targetReference>
        </connector>
        <fields>
            <name>Scope_of_Change</name>
            <choiceReferences>HO_Only</choiceReferences>
            <choiceReferences>HO_All_Branches</choiceReferences>
            <choiceReferences>HO_Selected_Branches</choiceReferences>
            <choiceReferences>Selected_Branches_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scope of Change</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case_Oscar_Process_Chooser_Screen</startElementReference>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oscarId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summaryMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
