src/flows/OscarCaseMigration-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apexPluginCalls>
        <name>RunMigrationProcess</name>
        <label>RunMigrationProcess</label>
        <locationX>139</locationX>
        <locationY>1364</locationY>
        <apexClass>AMS_OscarMigrationFromCase</apexClass>
        <connector>
            <targetReference>MigrationResultDecision</targetReference>
        </connector>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>concernedAgencyCodes</name>
            <value>
                <elementReference>Agency_Codes_Concerned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>concernedContact</name>
            <value>
                <elementReference>ConcernedContactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <elementReference>processType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scopeOfChange</name>
            <value>
                <elementReference>Scope_of_Change</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>oscarId</assignToReference>
            <name>oscarId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseNumber</assignToReference>
            <name>caseNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>summaryMessage</assignToReference>
            <name>summaryMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>AccountConcernedNotFound</name>
        <label>AccountConcernedNotFound</label>
        <locationX>686</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>AccountConcernedNotFoundError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Agency Input was not found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountConcernedChooser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCaseAccountConcernedVariable</name>
        <label>assignCaseAccountConcernedVariable</label>
        <locationX>972</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>AccountConcerned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseToProcess.Account_Concerned__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseToMigrate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactconcernedError</name>
        <label>ContactconcernedError</label>
        <locationX>678</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>ContactConcernedErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The contact input was not found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inputConcernedContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OscarProcessTypeAssignment</name>
        <label>OscarProcessTypeAssignment</label>
        <locationX>140</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>processType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_choose_the_process_to_convert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunMigrationProcess</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency_changes</name>
        <choiceText>Agency Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MAJOR.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>Branch_office_abroad_agency_accreditation</name>
        <choiceText>Branch Office Agency (abroad)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR.ABROAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificate_DGR</name>
        <choiceText>Certificate DGR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CERTIFICATION.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_of_Bank_Account_Details</name>
        <choiceText>Change of Bank Account Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BANK.ACCOUNT.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correction</name>
        <choiceText>Correction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CORRECTION.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>HO_All_Branches</name>
        <choiceText>HO - All Branches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HO - All Branches</stringValue>
        </value>
    </choices>
    <choices>
        <name>HO_Only</name>
        <choiceText>HO Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HO Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>HO_Selected_Branches</name>
        <choiceText>HO - Selected Branches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HO - Selected Branches</stringValue>
        </value>
    </choices>
    <choices>
        <name>IEP_Bank_Account_Setup</name>
        <choiceText>IEP Bank Account Setup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IEP.BANK.ACCOUNT.SETUP</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSO_Agency</name>
        <choiceText>MSO Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.MSO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_BR_IP</name>
        <choiceText>Branch Office Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessAHA</name>
        <choiceText>AHA Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.AHA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessDD</name>
        <choiceText>Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BANK.ACCOUNT.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessGSA</name>
        <choiceText>GSA Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.GSA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessHO</name>
        <choiceText>Head Office Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.HO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessSA</name>
        <choiceText>New SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.SA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAX_CARGO_Certificate</name>
        <choiceText>PAX/CARGO Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CER.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_agency_accreditation</name>
        <choiceText>SA agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.SA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Selected_Branches_Only</name>
        <choiceText>Selected Branches Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Selected Branches Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>TIDS_agency_accreditation</name>
        <choiceText>TIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.TIDS.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary_Relinquishment_CA</name>
        <choiceText>Voluntary Relinquishment (Code Assignment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VR.1.0.CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>VoluntaryRelinquishment</name>
        <choiceText>Voluntary Relinquishment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VR.1.0</stringValue>
        </value>
    </choices>
    <constants>
        <name>AccreditationProcessCaseArea_Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Accreditation Process</stringValue>
        </value>
    </constants>
    <constants>
        <name>IEP_BANK_ACC_PROCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IEP.BANK.ACCOUNT.SETUP</stringValue>
        </value>
    </constants>
    <constants>
        <name>IEPBankaccountsetup_const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IEP Bank account setup</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AccounConcernedExists</name>
        <label>AccounConcernedExists</label>
        <locationX>362</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>AccountConcernedNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountConcernedNOTExistent</defaultConnectorLabel>
        <rules>
            <name>AccountConcernedExistent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountConcerned</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateCaseToMigrate</targetReference>
            </connector>
            <label>AccountConcernedExistent</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasConcernedContact</name>
        <label>hasConcernedContact</label>
        <locationX>968</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>ContactconcernedError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>inputContactDoesNotExist</defaultConnectorLabel>
        <rules>
            <name>inputcontactexists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConcernedContactID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>needsAccountConcerned</targetReference>
            </connector>
            <label>inputcontactexists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_valid_choice</name>
        <label>Is a valid choice</label>
        <locationX>142</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Is_IEP_Bank_Account_Setup_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Location_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_choose_the_process_to_convert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Agency_changes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Change_of_Bank_Details</name>
        <label>Is Change of Bank Details ?</label>
        <locationX>137</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>OscarProcessTypeAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Changes</defaultConnectorLabel>
        <rules>
            <name>Change_of_Bank_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_process_to_convert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_of_Bank_Account_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Bank_Details_Change</targetReference>
            </connector>
            <label>Change of Bank Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IEP_Bank_Account_Setup_process</name>
        <label>Is IEP Bank Account Setup process</label>
        <locationX>138</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Is_Change_of_Bank_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotIEPBankAccProcess</defaultConnectorLabel>
        <rules>
            <name>Is_IEP_Bank_acc_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_the_process_to_convert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IEP_BANK_ACC_PROCESS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupCaseToProcess</targetReference>
            </connector>
            <label>Is IEP Bank acc process</label>
        </rules>
    </decisions>
    <decisions>
        <name>MigrationResultDecision</name>
        <label>MigrationResultDecision</label>
        <locationX>141</locationX>
        <locationY>1486</locationY>
        <defaultConnector>
            <targetReference>ResultPage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MigrationIsOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResultPage</targetReference>
            </connector>
            <label>MigrationIsOk</label>
        </rules>
    </decisions>
    <decisions>
        <name>needsAccountConcerned</name>
        <label>needsAccountConcerned?</label>
        <locationX>970</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>assignCaseAccountConcernedVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>accountconcernedExists</defaultConnectorLabel>
        <rules>
            <name>AccountConcernedNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseToProcess.Account_Concerned__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AccountConcernedChooser</targetReference>
            </connector>
            <label>accountConcernedNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Scope_of_Change</name>
        <label>What is the Scope of Change ?</label>
        <locationX>683</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Provide_Concerned_Agency_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Branches</defaultConnectorLabel>
        <rules>
            <name>None_All_Branches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Scope_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HO_All_Branches</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scope_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HO_Only</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OscarProcessTypeAssignment</targetReference>
            </connector>
            <label>None/All Branches</label>
        </rules>
    </decisions>
    <description>Updated with IEP Bank Account Setup Process</description>
    <dynamicChoiceSets>
        <name>Accreditation_Scope_of_Change</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scope_of_Change__c</picklistField>
        <picklistObject>AMS_Pax_Accreditation_Form__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>OscarCaseMigration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OscarCaseMigration Working Version</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccountConcernedLookup</name>
        <label>AccountConcernedLookup</label>
        <locationX>363</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccounConcernedExists</targetReference>
        </connector>
        <filters>
            <field>IATACode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IATA_code_Account_Concerned</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountConcerned</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>contatacConcerneLookup</name>
        <label>contatacConcerneLookup</label>
        <locationX>967</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasConcernedContact</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailContactConcerned</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ConcernedContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>386</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Oscar_Process_Chooser_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount</outputReference>
        <queriedFields>Location_Class__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupCaseToProcess</name>
        <label>CaseToProcess</label>
        <locationX>425</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inputConcernedContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseToProcess</outputReference>
        <queriedFields>Account_Concerned__c</queriedFields>
        <queriedFields>Reason1__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseToMigrate</name>
        <label>UpdateCaseToMigrate</label>
        <locationX>362</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>Is_Change_of_Bank_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Concerned__c</field>
            <value>
                <elementReference>AccountConcerned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseArea__c</field>
            <value>
                <elementReference>AccreditationProcessCaseArea_Const</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason1__c</field>
            <value>
                <elementReference>IEPBankaccountsetup_const</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>AccountConcernedChooser</name>
        <label>AccountConcernedChooser</label>
        <locationX>687</locationX>
        <locationY>629</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountConcernedLookup</targetReference>
        </connector>
        <fields>
            <name>InputAccountOncerned</name>
            <fieldText>Please input the concerned Agency:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IATA_code_Account_Concerned</name>
            <dataType>String</dataType>
            <fieldText>IATA code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccounConcernedErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AccountConcernedNotFoundError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Oscar_Process_Chooser_Screen</name>
        <label>Case Oscar Process Chooser Screen</label>
        <locationX>143</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_a_valid_choice</targetReference>
        </connector>
        <fields>
            <name>CaseOscarProcessText</name>
            <fieldText>This process enables you to create an OSCAR process from the SAAM case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_choose_the_process_to_convert</name>
            <choiceReferences>NewProcessHO</choiceReferences>
            <choiceReferences>New_BR_IP</choiceReferences>
            <choiceReferences>Branch_office_abroad_agency_accreditation</choiceReferences>
            <choiceReferences>NewProcessSA</choiceReferences>
            <choiceReferences>Agency_changes</choiceReferences>
            <choiceReferences>NewProcessDD</choiceReferences>
            <choiceReferences>VoluntaryRelinquishment</choiceReferences>
            <choiceReferences>Certificate_DGR</choiceReferences>
            <choiceReferences>PAX_CARGO_Certificate</choiceReferences>
            <choiceReferences>NewProcessGSA</choiceReferences>
            <choiceReferences>NewProcessAHA</choiceReferences>
            <choiceReferences>MSO_Agency</choiceReferences>
            <choiceReferences>TIDS_agency_accreditation</choiceReferences>
            <choiceReferences>Voluntary_Relinquishment_CA</choiceReferences>
            <choiceReferences>Correction</choiceReferences>
            <choiceReferences>IEP_Bank_Account_Setup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the process to convert</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>391</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Oscar_Process_Chooser_Screen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageArea</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You cannot select &amp;quot;Agency Changes&amp;quot; for class I agencies.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inputConcernedContact</name>
        <label>inputConcernedContact</label>
        <locationX>680</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>contatacConcerneLookup</targetReference>
        </connector>
        <fields>
            <name>contactemailinput</name>
            <fieldText>Please input the email of the contact concerned:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>emailContactConcerned</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorContactConcerned</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ContactConcernedErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Concerned_Agency_Codes</name>
        <label>Provide Concerned Agency Codes</label>
        <locationX>686</locationX>
        <locationY>1222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OscarProcessTypeAssignment</targetReference>
        </connector>
        <fields>
            <name>AgencyCodesInstructionsText</name>
            <fieldText>Please provide the IATA codes of the Agency Branches concerned by the changes, separated by commas (e.g.: 23100011,23100022)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agency_Codes_Concerned</name>
            <fieldText>Agency Codes Concerned</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultPage</name>
        <label>ResultPage</label>
        <locationX>143</locationX>
        <locationY>1605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreated</name>
            <fieldText>You&apos;ve completed the wizard.

{!summaryMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultPage_0</name>
        <label>ResultPage</label>
        <locationX>395</locationX>
        <locationY>1487</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreated_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An error has occured during the migration process:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!errorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please report this to the Support Team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Bank_Details_Change</name>
        <label>Type of Bank Details Change</label>
        <locationX>438</locationX>
        <locationY>1051</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_Scope_of_Change</targetReference>
        </connector>
        <fields>
            <name>Scope_of_Change</name>
            <choiceReferences>HO_Only</choiceReferences>
            <choiceReferences>HO_All_Branches</choiceReferences>
            <choiceReferences>HO_Selected_Branches</choiceReferences>
            <choiceReferences>Selected_Branches_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Scope of Change</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Account</startElementReference>
    <variables>
        <name>AccountConcerned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountConcernedNotFoundError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ConcernedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactConcernedErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oscarId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>summaryMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
