src/flows/OSCAR_Wizard_SIMPLEX-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AMSFillAccreditationLegalStatus</name>
        <label>AMSFillAccreditationLegalStatus</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <actionName>AMS_FillAMSAccreditationLegalStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AMSOnlineAccreditationRecordTypeLookup</targetReference>
        </connector>
        <inputParameters>
            <name>typeLst</name>
            <value>
                <elementReference>AccountToProcess.Company_Type__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AMSAccreditedLegalStatus</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>FillAMSAccreditationGDS</name>
        <label>FillAMSAccreditationGDS</label>
        <locationX>264</locationX>
        <locationY>652</locationY>
        <actionName>AMS_FillAMSAccreditationGDS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AMSFillAccreditationLegalStatus</targetReference>
        </connector>
        <inputParameters>
            <name>typeLst</name>
            <value>
                <elementReference>AccountToProcess.GDS__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AMSAccreditationGDS</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AssignContactNotFoundMessage</name>
        <label>AssignContactNotFoundMessage</label>
        <locationX>635</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>errormessagecontactlookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The contact input was not found, please refine your criteria.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactChooser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency_Changes</name>
        <choiceText>Agency Changes Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MAJOR.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessAHA</name>
        <choiceText>New AHA agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.AHA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessBR</name>
        <choiceText>New Branch Office agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessBRAbroad</name>
        <choiceText>New Branch Office (Abroad) agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR.ABRD</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessGSA</name>
        <choiceText>New GSA agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.GSA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessGSSA</name>
        <choiceText>New GSSA agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.GSSA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessHO</name>
        <choiceText>New Head Office agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.HO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessMSO</name>
        <choiceText>New MSO agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.MSO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessSA</name>
        <choiceText>New SA agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.SA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessTIDS</name>
        <choiceText>New TIDS agency accreditation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.TIDS.1.0</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckIfEmailIsFound</name>
        <label>CheckIfEmailIsFound</label>
        <locationX>855</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>ContactChooserScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EmailSearchIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoesContactExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContactNotFoundMessage</targetReference>
            </connector>
            <label>EmailSearchIsEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesHierarchyExists</name>
        <label>DoesHierarchyExists</label>
        <locationX>1168</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>AMS_Agencies_relationship_Creator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HierarchyDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HierarchyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Hierarchy_Lookup_0</targetReference>
            </connector>
            <label>HierarchyDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesHierarchyExists_0</name>
        <label>DoesHierarchyExists</label>
        <locationX>1166</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>AMS_Agencies_relationship_Creator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HierarchyDoesNotExist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HierarchyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMS_Hierarchy_Creator</targetReference>
            </connector>
            <label>HierarchyDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBRorSAandHasParentId</name>
        <label>IsBRorSAandHasParentId</label>
        <locationX>234</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>ContactChooser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsBrOrSAandDoesnothaveParentIdOutcome</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>AccountToProcess.Location_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountToProcess.Location_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountToProcess.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountBrandSAWithoutParent</targetReference>
            </connector>
            <label>IsBrOrSAandDoesnothaveParentIdOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsHierarchyNeeded</name>
        <label>IsHierarchyNeeded</label>
        <locationX>698</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>OscarRecordTypeLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsABRorBRAbroad</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountToProcess.Location_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountToProcess.Location_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Hierarchy_Lookup</targetReference>
            </connector>
            <label>IsABRorBRAbroad</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RecordChoiceContact</name>
        <dataType>String</dataType>
        <displayField>SearchIdentifier__c</displayField>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactChooserEmailInput</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DoesContactExists</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountForTheCase</name>
        <dataType>String</dataType>
        <expression>IF({!Type_of_OSCAR_process} = {!NewProcessHO}  , {!AccountToProcess.Id},
IF({!Type_of_OSCAR_process} = {!NewProcessBR}  , {!AccountToProcess.Id},
IF({!Type_of_OSCAR_process} = {!NewProcessBRAbroad}  , {!AccountToProcess.Id} , {!AccountToProcess.Id})))</expression>
    </formulas>
    <formulas>
        <name>AccreditationContactNameFormula</name>
        <dataType>String</dataType>
        <expression>{!ContactToProcess.FirstName} &amp; &quot; &quot; &amp; {!ContactToProcess.LastName}</expression>
    </formulas>
    <formulas>
        <name>AreThePremissesInAirportFormula</name>
        <dataType>String</dataType>
        <expression>IF(AccountToProcess.In_a_Airport__c = true,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>CaseReason</name>
        <dataType>String</dataType>
        <expression>IF({!Type_of_OSCAR_process} = {!NewProcessHO}  , &apos;New HO&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessBR}  , &apos;New BR / IP&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessSA}  , &apos;New SA&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessAHA}  , &apos;New AHA&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessGSSA}  , &apos;New GSSA&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessTIDS} &amp;&amp; {!FinalLocationType} = &apos;HO&apos;, &apos;New TIDS&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessTIDS} &amp;&amp; {!FinalLocationType} = &apos;BR&apos; , &apos;“New TIDS branch&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessGSA}  , &apos;New GSA&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessMSO}  , &apos;New MSO&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessBRAbroad}  , &apos;New BR Abroad&apos; , &apos;Agency Changes&apos;))))))))))</expression>
    </formulas>
    <formulas>
        <name>OscarCaseSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!CaseReason} &amp; &quot; - &quot; &amp; {!AccountToProcess.Name}</expression>
    </formulas>
    <formulas>
        <name>OscarProcessType</name>
        <dataType>String</dataType>
        <expression>IF({!Type_of_OSCAR_process} = {!NewProcessHO}  , &apos;NEW.HO.1.0&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessBR}  , &apos;NEW.BR&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessSA}  , &apos;NEW.SA.1.0&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessAHA}  , &apos;New AHA&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessGSSA}  , &apos;New GSSA&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessTIDS}  , &apos;NEW.TIDS.1.0&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessGSA}  , &apos;NEW.GSA.1.0&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessMSO}  , &apos;NEW.MSO.1.0&apos;,
IF({!Type_of_OSCAR_process} = {!NewProcessBRAbroad}  , &apos;NEW.BR.ABROAD&apos; , &apos;MAJOR.CHANGES&apos;)))))))))</expression>
    </formulas>
    <formulas>
        <name>OscarRecordTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Type_of_OSCAR_process} = {!Agency_Changes}  , &apos;CHANGE&apos;, &apos;NEW&apos;)</expression>
    </formulas>
    <formulas>
        <name>TypeOfAccreditationRT</name>
        <dataType>String</dataType>
        <expression>IF(({!FinalLocationType} = &apos;P&apos; &amp;&amp; {!Type_of_OSCAR_process} = {!NewProcessHO})  , &apos;Travel_Agent_HO&apos;,
IF(({!FinalLocationType} = &apos;P&apos; &amp;&amp; {!Type_of_OSCAR_process} = {!NewProcessBR} ) , &apos;Travel_Agent_Branch&apos;,
IF(({!FinalLocationType} = &apos;P&apos; &amp;&amp; {!Type_of_OSCAR_process} = {!NewProcessBRAbroad} ) , &apos;Travel_Agent_Branch_Abroad&apos;,
IF(({!FinalLocationType} = &apos;C&apos; &amp;&amp; {!Type_of_OSCAR_process} = {!NewProcessHO} ) , &apos;Cargo_Agent_HO&apos;,
IF(({!FinalLocationType} = &apos;C&apos; &amp;&amp; {!Type_of_OSCAR_process} = {!NewProcessBR} ) , &apos;Cargo_Agent_Branch&apos;,
IF(({!Type_of_OSCAR_process} = {!Agency_Changes} ) , &apos;Other_Changes&apos;,
IF(({!FinalLocationType} = &apos;C&apos; &amp;&amp; {!Type_of_OSCAR_process} = {!NewProcessBRAbroad} ) , &apos;Cargo_Agent_Branch&apos;,&apos;GeneralOnlineAccreditation&apos;
)))))))</expression>
    </formulas>
    <label>OSCAR Wizard (SIMPLEX)</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>AMS_Agencies_relationship_Creator</name>
        <label>AMS Agencies relationship Creator</label>
        <locationX>852</locationX>
        <locationY>553</locationY>
        <assignRecordIdToReference>HierarchyRelationshipId</assignRecordIdToReference>
        <connector>
            <targetReference>OscarRecordTypeLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hierarchy__c</field>
            <value>
                <elementReference>HierarchyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <elementReference>AccountToProcess.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>AMS_Agencies_relationhip__c</object>
    </recordCreates>
    <recordCreates>
        <name>AMS_Hierarchy_Creator</name>
        <label>AMS Hierarchy Creator</label>
        <locationX>1024</locationX>
        <locationY>555</locationY>
        <assignRecordIdToReference>HierarchyId</assignRecordIdToReference>
        <connector>
            <targetReference>AMS_Agencies_relationship_Creator</targetReference>
        </connector>
        <inputAssignments>
            <field>Hierarchy_Name__c</field>
            <value>
                <stringValue>Hierarchy</stringValue>
            </value>
        </inputAssignments>
        <object>AMS_Agencies_Hierarchy__c</object>
    </recordCreates>
    <recordCreates>
        <name>AMSOnlineAccreditationContactCreation</name>
        <label>AMSOnlineAccreditationContactCreation</label>
        <locationX>1027</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>AccreditationContactId</assignRecordIdToReference>
        <connector>
            <targetReference>PortalAdministratorAMSOnlineAccreditationUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>AMS_Pax_Accreditation_Form__c</field>
            <value>
                <elementReference>AMSOnlineAccreditationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressCity__c</field>
            <value>
                <elementReference>ContactToProcess.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressCountry__c</field>
            <value>
                <elementReference>ContactToProcess.Account_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressPostcode__c</field>
            <value>
                <elementReference>ContactToProcess.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressStreet__c</field>
            <value>
                <elementReference>ContactToProcess.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>ContactToProcess.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactToProcess.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>ContactToProcess.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAX__c</field>
            <value>
                <elementReference>ContactToProcess.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Assessment_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_name__c</field>
            <value>
                <elementReference>ContactToProcess.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISO_Country__c</field>
            <value>
                <elementReference>ContactToProcess.ISO_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_title__c</field>
            <value>
                <elementReference>ContactToProcess.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_name__c</field>
            <value>
                <elementReference>ContactToProcess.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>ContactToProcess.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Main_Contact__c</field>
            <value>
                <elementReference>ContactToProcess.Membership_Main_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobileNational__c</field>
            <value>
                <elementReference>ContactToProcess.HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>ContactToProcess.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactToProcess.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>ContactToProcess.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AMSOnlineAccreditationContactRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>ContactToProcess.Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_dangerous_goods_completed__c</field>
            <value>
                <elementReference>ContactToProcess.Training_dangerous_goods_completed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>list_Dangerous_Goods_Awareness__c</field>
            <value>
                <elementReference>ContactToProcess.list_Dangerous_Goods_Awareness__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMS_Accreditation_Contact__c</object>
    </recordCreates>
    <recordCreates>
        <name>AMSOnlineAccreditationCreation</name>
        <label>AMSOnlineAccreditationCreation</label>
        <locationX>692</locationX>
        <locationY>649</locationY>
        <assignRecordIdToReference>AMSOnlineAccreditationId</assignRecordIdToReference>
        <connector>
            <targetReference>AMSOnlineAccreditationContactRecordTypeLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Abbreviated_Address__c</field>
            <value>
                <elementReference>AccountToProcess.Abbreviated_address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Abbreviated_name__c</field>
            <value>
                <elementReference>AccountToProcess.Abbreviated_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accept_terms_and_conditions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>AccountToProcess.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>AccountToProcess.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_City__c</field>
            <value>
                <elementReference>AccountToProcess.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_Country__c</field>
            <value>
                <elementReference>AccountToProcess.IATA_ISO_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_Email__c</field>
            <value>
                <elementReference>AccountToProcess.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_FAX__c</field>
            <value>
                <elementReference>AccountToProcess.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_Phone__c</field>
            <value>
                <elementReference>AccountToProcess.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_Postal_code__c</field>
            <value>
                <elementReference>AccountToProcess.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Office_Street_name_number__c</field>
            <value>
                <elementReference>AccountToProcess.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASS_Number__c</field>
            <value>
                <elementReference>AccountToProcess.CASS_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IATACode__c</field>
            <value>
                <elementReference>AccountToProcess.IATACode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IATA_ISO_State__c</field>
            <value>
                <elementReference>AccountToProcess.Iso_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISSP_AMS_GDS_with_signed_contract__c</field>
            <value>
                <elementReference>AMSAccreditationGDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISSP_AMS_Legal_Status__c</field>
            <value>
                <elementReference>AMSAccreditedLegalStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISSP_AMS_License_No__c</field>
            <value>
                <elementReference>AccountToProcess.License_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISSP_AMS_Premises_located_at_airport__c</field>
            <value>
                <elementReference>AreThePremissesInAirportFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISSP_AMS_VAT_number__c</field>
            <value>
                <elementReference>AccountToProcess.VAT_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_firm_handling_Dangerous_Goods__c</field>
            <value>
                <elementReference>AccountToProcess.Is_your_firm_handling_Dangerous_Goods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Class__c</field>
            <value>
                <elementReference>AccountToProcess.Location_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type__c</field>
            <value>
                <elementReference>AccountToProcess.Location_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>AccountToProcess.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>AccountToProcess.Operation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AMSOnlineAccreditationRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remittance_frequency__c</field>
            <value>
                <elementReference>AccountToProcess.Remittance_frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAAM_Case__c</field>
            <value>
                <elementReference>OscarCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>AccountToProcess.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>AccountToProcess.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Postal_Code__c</field>
            <value>
                <elementReference>AccountToProcess.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>AccountToProcess.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>AccountToProcess.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Name__c</field>
            <value>
                <elementReference>AccountToProcess.Short_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitation_Flag__c</field>
            <value>
                <elementReference>AccountToProcess.Solicitation_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_to_IATA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_Name__c</field>
            <value>
                <elementReference>AccountToProcess.TradeName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Number_2__c</field>
            <value>
                <elementReference>AccountToProcess.VAT_Number_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>AccountToProcess.Website</elementReference>
            </value>
        </inputAssignments>
        <object>AMS_Pax_Accreditation_Form__c</object>
    </recordCreates>
    <recordCreates>
        <name>OscarCaseCreation</name>
        <label>OscarCaseCreation</label>
        <locationX>264</locationX>
        <locationY>556</locationY>
        <assignRecordIdToReference>OscarCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>FillAMSAccreditationGDS</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountForTheCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Concerned__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseArea__c</field>
            <value>
                <stringValue>Accreditation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactToProcess.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSCAR__c</field>
            <value>
                <elementReference>OscarId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason1__c</field>
            <value>
                <elementReference>CaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseTypeOscarComunication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>OscarCaseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>OSCARCreation</name>
        <label>OSCARCreation</label>
        <locationX>546</locationX>
        <locationY>558</locationY>
        <assignRecordIdToReference>OscarId</assignRecordIdToReference>
        <connector>
            <targetReference>CaseRecordTypeOSCARLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process__c</field>
            <value>
                <elementReference>OscarProcessType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OSCARRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>AMS_OSCAR__c</object>
    </recordCreates>
    <recordLookups>
        <name>AccountToProcessLookup</name>
        <label>AccountToProcessLookup</label>
        <locationX>232</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsBRorSAandHasParentId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountToProcess</outputReference>
        <queriedFields>Legal_name__c</queriedFields>
        <queriedFields>Short_Name__c</queriedFields>
        <queriedFields>TradeName__c</queriedFields>
        <queriedFields>Location_Type__c</queriedFields>
        <queriedFields>IATACode__c</queriedFields>
        <queriedFields>Source_System__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Company_Type__c</queriedFields>
        <queriedFields>Location_Class__c</queriedFields>
        <queriedFields>License_Number__c</queriedFields>
        <queriedFields>VAT_Number__c</queriedFields>
        <queriedFields>GDS__c</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>IATA_ISO_Country__c</queriedFields>
        <queriedFields>Iso_State__c</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Fax</queriedFields>
        <queriedFields>In_a_Airport__c</queriedFields>
        <queriedFields>Mobile__c</queriedFields>
        <queriedFields>Abbreviated_name__c</queriedFields>
        <queriedFields>Abbreviated_address__c</queriedFields>
        <queriedFields>Remittance_frequency__c</queriedFields>
        <queriedFields>Solicitation_Flag__c</queriedFields>
        <queriedFields>VAT_Number_2__c</queriedFields>
        <queriedFields>CASS_Number__c</queriedFields>
        <queriedFields>Is_your_firm_handling_Dangerous_Goods__c</queriedFields>
        <queriedFields>Fin_statements_submission_deadline__c</queriedFields>
        <queriedFields>Financial_Year_End__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Operation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AccountToProcessLookup_0</name>
        <label>AccountToProcessLookup</label>
        <locationX>541</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AMSOnlineAccreditationCreation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountToProcess</outputReference>
        <queriedFields>Legal_name__c</queriedFields>
        <queriedFields>Short_Name__c</queriedFields>
        <queriedFields>TradeName__c</queriedFields>
        <queriedFields>Location_Type__c</queriedFields>
        <queriedFields>IATACode__c</queriedFields>
        <queriedFields>Source_System__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Company_Type__c</queriedFields>
        <queriedFields>Location_Class__c</queriedFields>
        <queriedFields>License_Number__c</queriedFields>
        <queriedFields>VAT_Number__c</queriedFields>
        <queriedFields>GDS__c</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>IATA_ISO_Country__c</queriedFields>
        <queriedFields>Iso_State__c</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Fax</queriedFields>
        <queriedFields>In_a_Airport__c</queriedFields>
        <queriedFields>Mobile__c</queriedFields>
        <queriedFields>Abbreviated_name__c</queriedFields>
        <queriedFields>Abbreviated_address__c</queriedFields>
        <queriedFields>Remittance_frequency__c</queriedFields>
        <queriedFields>Solicitation_Flag__c</queriedFields>
        <queriedFields>VAT_Number_2__c</queriedFields>
        <queriedFields>CASS_Number__c</queriedFields>
        <queriedFields>Is_your_firm_handling_Dangerous_Goods__c</queriedFields>
        <queriedFields>Fin_statements_submission_deadline__c</queriedFields>
        <queriedFields>Financial_Year_End__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Operation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AMSOnlineAccreditationContactRecordTypeLookup</name>
        <label>AMSOnlineAccreditationContactRecordTypeLookup</label>
        <locationX>852</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AMSOnlineAccreditationContactCreation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMS_Accreditation_Contact__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AMSOnlineAccreditationContactRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AMSOnlineAccreditationRecordTypeLookup</name>
        <label>AMSOnlineAccreditationRecordTypeLookup</label>
        <locationX>545</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountToProcessLookup_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypeOfAccreditationRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMS_Pax_Accreditation_Form__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AMSOnlineAccreditationRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseRecordTypeOSCARLookup</name>
        <label>CaseRecordTypeOSCARLookup</label>
        <locationX>407</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OscarCaseCreation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OSCAR_Communication</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseTypeOscarComunication</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContactLookup</name>
        <label>ContactLookup</label>
        <locationX>700</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsHierarchyNeeded</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DoesContactExists</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactToProcess</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Membership_Main_Contact__c</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Fax</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ISO_Country__c</queriedFields>
        <queriedFields>Financial_Assessment_Contact__c</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>Training_dangerous_goods_completed__c</queriedFields>
        <queriedFields>list_Dangerous_Goods_Awareness__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Country__c</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ContactRecordLookup</name>
        <label>ContactRecordLookup</label>
        <locationX>629</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfEmailIsFound</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactChooserEmailInput</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DoesContactExists</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OSCARCreatedLookup</name>
        <label>OSCARCreatedLookup</label>
        <locationX>688</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultPage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OscarId</elementReference>
            </value>
        </filters>
        <object>AMS_OSCAR__c</object>
        <outputAssignments>
            <assignToReference>createdOscarName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OscarRecordTypeLookup</name>
        <label>OscarRecordTypeLookup</label>
        <locationX>696</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OSCARCreation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OscarRecordTypeFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMS_OSCAR__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OSCARRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_Account_Hierarchy_Lookup</name>
        <label>Parent Account Hierarchy Lookup</label>
        <locationX>953</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesHierarchyExists</targetReference>
        </connector>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountToProcess.ParentId</elementReference>
            </value>
        </filters>
        <object>AMS_Agencies_relationhip__c</object>
        <outputAssignments>
            <assignToReference>HierarchyId</assignToReference>
            <field>Hierarchy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_Account_Hierarchy_Lookup_0</name>
        <label>Parent Account Hierarchy Lookup</label>
        <locationX>1422</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesHierarchyExists_0</targetReference>
        </connector>
        <filters>
            <field>Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountToProcess.ParentId</elementReference>
            </value>
        </filters>
        <object>AMS_Agencies_relationhip__c</object>
        <outputAssignments>
            <assignToReference>HierarchyId</assignToReference>
            <field>Hierarchy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AMSOSCARAccreditationObjectUpdate</name>
        <label>AMSOSCARAccreditationObjectUpdate</label>
        <locationX>854</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>OSCARCreatedLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OscarId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AMS_Online_Accreditation__c</field>
            <value>
                <elementReference>AMSOnlineAccreditationId</elementReference>
            </value>
        </inputAssignments>
        <object>AMS_OSCAR__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>PortalAdministratorAMSOnlineAccreditationUpdate</name>
        <label>PortalAdministratorAMSOnlineAccreditationUpdate</label>
        <locationX>1027</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>AMSOSCARAccreditationObjectUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AMSOnlineAccreditationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISSP_AMS_Portal_admin__c</field>
            <value>
                <elementReference>AccreditationContactId</elementReference>
            </value>
        </inputAssignments>
        <object>AMS_Pax_Accreditation_Form__c</object>
    </recordUpdates>
    <screens>
        <name>AccountBrandSAWithoutParent</name>
        <label>AccountBrandSAWithoutParent</label>
        <locationX>235</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorNoParentIdMessage</name>
            <fieldText>The Account {!AccountToProcess.Name} is marked as {!AccountToProcess.Location_Type__c} and does not have a parent Id. Please close the wizard and fill its Parent Id before continuing.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ContactChooser</name>
        <label>ContactChooser</label>
        <locationX>386</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>ContactRecordLookup</targetReference>
        </connector>
        <fields>
            <name>ContactChooserText</name>
            <fieldText>Please input the contact to be used on the Accreditation process:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactChooserEmailInput</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmptySpaceText1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MessagesContactLookup</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!errormessagecontactlookup}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ContactChooserScreen</name>
        <label>ContactChooserScreen</label>
        <locationX>856</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>ContactLookup</targetReference>
        </connector>
        <fields>
            <name>WizardContactChooserText</name>
            <fieldText>Please choose a contact from the list above</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactDropList</name>
            <choiceReferences>RecordChoiceContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Process_Chooser</name>
        <label>Process Chooser</label>
        <locationX>69</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>AccountToProcessLookup</targetReference>
        </connector>
        <fields>
            <name>ProcessChooserIntroText</name>
            <fieldText>OSCAR WIZARD
              
This is a wizard designed to help you create a new OSCAR process.

OSCAR stands for Online Solution for Customer Application Request, and must be linked to an existing Account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_OSCAR_process</name>
            <choiceReferences>NewProcessHO</choiceReferences>
            <choiceReferences>NewProcessBR</choiceReferences>
            <choiceReferences>NewProcessBRAbroad</choiceReferences>
            <choiceReferences>NewProcessSA</choiceReferences>
            <choiceReferences>NewProcessTIDS</choiceReferences>
            <choiceReferences>NewProcessMSO</choiceReferences>
            <choiceReferences>NewProcessGSA</choiceReferences>
            <choiceReferences>NewProcessGSSA</choiceReferences>
            <choiceReferences>NewProcessAHA</choiceReferences>
            <choiceReferences>Agency_Changes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose a process :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ResultPage</name>
        <label>ResultPage</label>
        <locationX>688</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>RecordsCreated</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;We are all set !&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You&amp;apos;ve completed the wizard.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Process_Chooser</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccreditationContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AMSAccreditationGDS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AMSAccreditedLegalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AMSOnlineAccreditationContactRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AMSOnlineAccreditationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AMSOnlineAccreditationRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTypeOscarComunication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>createdOscarName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DoesContactExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errormessagecontactlookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalLocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountToProcess.Location_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>HierarchyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HierarchyRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OscarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OscarId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OSCARRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
