src/flows/OscarCaseMigration-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>OscarProcessTypeAssignment</name>
        <label>OscarProcessTypeAssignment</label>
        <locationX>141</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>processType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_choose_the_process_to_convert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MigrationResultDecision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agency_changes</name>
        <choiceText>Agency Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MAJOR.CHANGES</stringValue>
        </value>
    </choices>
    <choices>
        <name>Branch_office_abroad_agency_accreditation</name>
        <choiceText>Branch Office Agency (abroad)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR.ABROAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificate_DGR</name>
        <choiceText>Certificate DGR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CERTIFICATION.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correction</name>
        <choiceText>Correction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CORRECTION.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSO_Agency</name>
        <choiceText>MSO Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.MSO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_BR_IP</name>
        <choiceText>Branch Office Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.BR</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessAHA</name>
        <choiceText>AHA Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.AHA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessGSA</name>
        <choiceText>GSA Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.GSA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewProcessHO</name>
        <choiceText>Head Office Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.HO.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAX_CARGO_Certificate</name>
        <choiceText>PAX/CARGO Certificate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CER.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA_agency_accreditation</name>
        <choiceText>SA agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.SA.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>TIDS_agency_accreditation</name>
        <choiceText>TIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW.TIDS.1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary_Relinquishment_CA</name>
        <choiceText>Voluntary Relinquishment (Code Assignment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VR.1.0.CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>VoluntaryRelinquishment</name>
        <choiceText>Voluntary Relinquishment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VR.1.0</stringValue>
        </value>
    </choices>
    <decisions>
        <name>MigrationResultDecision</name>
        <label>MigrationResultDecision</label>
        <locationX>138</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>ResultPage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MigrationIsOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResultPage</targetReference>
            </connector>
            <label>MigrationIsOk</label>
        </rules>
    </decisions>
    <description>New Wizard for SAAM case Migration</description>
    <interviewLabel>OscarCaseMigration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OscarCaseMigration</label>
    <processType>Flow</processType>
    <screens>
        <name>Case_Oscar_Process_Chooser_Screen</name>
        <label>Case Oscar Process Chooser Screen</label>
        <locationX>140</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OscarProcessTypeAssignment</targetReference>
        </connector>
        <fields>
            <name>CaseOscarProcessText</name>
            <fieldText>This process enables you to create an OSCAR process from the SAAM case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_choose_the_process_to_convert</name>
            <choiceReferences>NewProcessHO</choiceReferences>
            <choiceReferences>New_BR_IP</choiceReferences>
            <choiceReferences>Branch_office_abroad_agency_accreditation</choiceReferences>
            <choiceReferences>TIDS_agency_accreditation</choiceReferences>
            <choiceReferences>Agency_changes</choiceReferences>
            <choiceReferences>Certificate_DGR</choiceReferences>
            <choiceReferences>VoluntaryRelinquishment</choiceReferences>
            <choiceReferences>Voluntary_Relinquishment_CA</choiceReferences>
            <choiceReferences>PAX_CARGO_Certificate</choiceReferences>
            <choiceReferences>NewProcessGSA</choiceReferences>
            <choiceReferences>NewProcessAHA</choiceReferences>
            <choiceReferences>MSO_Agency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the process to convert</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultPage</name>
        <label>ResultPage</label>
        <locationX>134</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreated</name>
            <fieldText>We are all set.

You&apos;ve completed the wizard.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultPage_0</name>
        <label>ResultPage</label>
        <locationX>392</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreated_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An error has occured during the migration process:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!errorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please report this to the Support Team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case_Oscar_Process_Chooser_Screen</startElementReference>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oscarId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
