src/flows/Send_Acknowledgement_For_Financial_Security.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Acknowledge</name>
        <label>Send Acknowledge</label>
        <locationX>545</locationX>
        <locationY>321</locationY>
        <actionName>FinancialSecurityFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Message</targetReference>
        </connector>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>acknowledgeResult</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Expired</name>
        <label>Is Expired?</label>
        <locationX>535</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Send_Acknowledge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Security_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Expired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Send Acknowledgement For Financial Security {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Acknowledgement For Financial Security</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>341</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Expired</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Financial_Security__c</object>
        <outputReference>record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Acknowledge_Sent_Date__c</queriedFields>
        <queriedFields>Acknowledgment_sent__c</queriedFields>
        <queriedFields>Security_Status__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Expired</name>
        <label>Error_Expired</label>
        <locationX>789</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Expired_Message</name>
            <fieldText>You cannot sent an acknowledgment if the status of Financial Security is expired.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Message</name>
        <label>Result Message</label>
        <locationX>818</locationX>
        <locationY>321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultText</name>
            <fieldText>{!acknowledgeResult}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>acknowledgeResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Security__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
