src/flows/Subprocesses_ACLI-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>ApiServer</name>
        <dataType>String</dataType>
        <expression>{!$Api.Partner_Server_URL_370}</expression>
    </formulas>
    <formulas>
        <name>SubjectCase_AirlineDesignatorCodeRequest</name>
        <dataType>String</dataType>
        <expression>{!SubjectCase_AirlineDesignatorCodeRequest}</expression>
    </formulas>
    <interviewLabel>Subprocesses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subprocesses ACLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>For some cases, we submit documentation to our legal and/or Airline Distribution Standards for revision; for example for change of name or code tranfer cases. They might accept the documentation or request additional ones. Once complete and approve, we will mark this step as complete and continue.</description>
        <name>Additional_Confirmation</name>
        <label>Additional Confirmation</label>
        <locationX>391</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Coding_Fee</targetReference>
        </connector>
        <fields>
            <name>Additional_Confirmation_Flow</name>
            <extensionName>c:ISSP_AMC_FlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_B</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Heading</name>
                <value>
                    <stringValue>Additional Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Confirmation_Button</name>
            <extensionName>c:ISSP_AMC_ACLI_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Create_Related_Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_B</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action2</name>
                <value>
                    <stringValue>Send_Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Confirmation_Picklists</name>
            <extensionName>c:ISSP_AMC_FlowPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_B</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Confirmation_FlowFooter</name>
            <extensionName>c:ISSP_AMC_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_B</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Confirmation_History</name>
            <extensionName>c:TrackingValueStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_B</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We request the prepayment advise from I&amp;C and once we receive it we send it to the customer in order for them to process the payment. We requet the proof of payment from the applicant and once we receive it we send it to finance for confirmation of receipt. Once payment is confirmed we will pass this stage.</description>
        <name>Coding_Fee</name>
        <label>Coding Fee</label>
        <locationX>620</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_for_Approval</targetReference>
        </connector>
        <fields>
            <name>Coding_Fee_Flow</name>
            <extensionName>c:ISSP_AMC_FlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_C</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Heading</name>
                <value>
                    <stringValue>Coding Fee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Coding_Fee_Button</name>
            <extensionName>c:ISSP_AMC_ACLI_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_C</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Create_Related_Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Coding_Fee_Picklists</name>
            <extensionName>c:ISSP_AMC_FlowPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_C</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Coding_Fee_FlowFooter</name>
            <extensionName>c:ISSP_AMC_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_C</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Coding_Fee_History</name>
            <extensionName>c:TrackingValueStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_C</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We complete the assignment in ACLI of the approved code. We then prepare the Code Assignment letter and we send it to the customer.</description>
        <name>Finalization_of_Application</name>
        <label>Finalization of Application</label>
        <locationX>981</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SIS_Registration</targetReference>
        </connector>
        <fields>
            <name>Finalization_of_Application_Flow</name>
            <extensionName>c:ISSP_AMC_FlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_E</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Heading</name>
                <value>
                    <stringValue>Finalization of Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Finalization_of_Application_Button</name>
            <extensionName>c:ISSP_AMC_ACLI_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_E</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Send_Assignment_Letter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>apiServerPartner</name>
                <value>
                    <elementReference>ApiServer</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Finalization_of_Application_Picklists</name>
            <extensionName>c:ISSP_AMC_FlowPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_E</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Finalization_of_Application_FlowFooter</name>
            <extensionName>c:ISSP_AMC_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_E</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Finalization_of_Application_History</name>
            <extensionName>c:TrackingValueStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_E</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Perform_Sanity_Check</name>
        <label>Perform Sanity Check</label>
        <locationX>228</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Perform_Sanity_Check_Flow</name>
            <extensionName>c:ISSP_AMC_FlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Heading</name>
                <value>
                    <stringValue>Perform Sanity Check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_A</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Perform_Sanity_Check_Picklists</name>
            <extensionName>c:ISSP_AMC_FlowPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_A</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Perform_Sanity_Check_FlowFooter</name>
            <extensionName>c:ISSP_AMC_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_A</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Perform_Sanity_Check_History</name>
            <extensionName>c:TrackingValueStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_A</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The code to be assigned is sent for appoval to the Senior Manager, Risk Management. Once approved this stage should be completed.</description>
        <name>Request_for_Approval</name>
        <label>Request for Approval</label>
        <locationX>816</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finalization_of_Application</targetReference>
        </connector>
        <fields>
            <name>Request_For_Approval_Flow</name>
            <extensionName>c:ISSP_AMC_FlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_D</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Heading</name>
                <value>
                    <stringValue>Request For Approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_For_Approval_Button</name>
            <extensionName>c:ISSP_AMC_ACLI_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_D</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Request_Approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_For_Approval_Picklist</name>
            <extensionName>c:ISSP_AMC_FlowPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_D</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_For_Approval_FlowFooter</name>
            <extensionName>c:ISSP_AMC_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_D</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_For_Approva_History</name>
            <extensionName>c:TrackingValueStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_D</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>After the case gets approved. If no customer on the account is registered in SIS, the creation of a case needs to be trigger in order to inform AP to register the customer to SIS. If a customer is registered, this step should be marked as complete.</description>
        <name>SIS_Registration</name>
        <label>SIS Registration</label>
        <locationX>1138</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SIS_Registration_Flow</name>
            <extensionName>c:ISSP_AMC_FlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_F</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Heading</name>
                <value>
                    <stringValue>SIS Registration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SIS_Registration_Button</name>
            <extensionName>c:ISSP_AMC_ACLI_FlowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Create_Related_Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_F</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SIS_Registration_Picklists</name>
            <extensionName>c:ISSP_AMC_FlowPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CurrentStage</name>
                <value>
                    <elementReference>Stage_F</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SIS_Registration_FlowFooter</name>
            <extensionName>c:ISSP_AMC_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_F</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SIS_Registration_History</name>
            <extensionName>c:TrackingValueStatus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processOrchestratorId</name>
                <value>
                    <elementReference>ProcessOrchestratorId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stage</name>
                <value>
                    <elementReference>Stage_F</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage_A</name>
        <isActive>true</isActive>
        <label>Stage A</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage_B</name>
        <isActive>true</isActive>
        <label>Stage_B</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_C</name>
        <isActive>true</isActive>
        <label>Stage_C</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_D</name>
        <isActive>true</isActive>
        <label>Stage_D</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Stage_E</name>
        <isActive>true</isActive>
        <label>Stage_E</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Stage_F</name>
        <isActive>true</isActive>
        <label>Stage_F</label>
        <stageOrder>6</stageOrder>
    </stages>
    <startElementReference>Main_Flow_ACLI</startElementReference>
    <subflows>
        <name>Main_Flow_ACLI</name>
        <label>Main Flow ACLI</label>
        <locationX>132</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Perform_Sanity_Check</targetReference>
        </connector>
        <flowName>Main_Flow_ACLI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ProcessOrchestratorId</assignToReference>
            <name>OrchestratorId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ProcessOrchestratorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject_DesignatorCode_SCHEDULED_NON_SCHEDULEDAIRLINES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
