src/flows/UAT_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Sequence_Incremental</name>
        <label>Sequence Incremental</label>
        <locationX>1173</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>Sequence</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Review_Scenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sequence_to_Zero</name>
        <label>Sequence to Zero</label>
        <locationX>294</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>Sequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SequenceManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sequence_to_Zero_Review</name>
        <label>Sequence to Zero Review</label>
        <locationX>1175</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>Sequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sequence_Incremental</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SequenceManagement</name>
        <label>SequenceManagement</label>
        <locationX>477</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>Sequence</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScenarioDisplaynTestRec</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fail</name>
        <choiceText>Fail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pass</name>
        <choiceText>Pass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Alldonereview</name>
        <label>Alldonereview</label>
        <locationX>1595</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Sequence_Incremental</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not allreviewed</defaultConnectorLabel>
        <rules>
            <name>allreviewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sequencenumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllReviewdone</targetReference>
            </connector>
            <label>allreviewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>AllDoneTest</name>
        <label>AllDoneTest</label>
        <locationX>895</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>SequenceManagement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>next</defaultConnectorLabel>
        <rules>
            <name>allreached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sequencenumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>finished</targetReference>
            </connector>
            <label>allreached</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckandResume</name>
        <label>CheckandResume</label>
        <locationX>294</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>AllDoneTest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isnotnullsequence</defaultConnectorLabel>
        <rules>
            <name>nullsequence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sequence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sequence_to_Zero</targetReference>
            </connector>
            <label>nullsequence</label>
        </rules>
    </decisions>
    <decisions>
        <name>EditRecord</name>
        <label>EditRecord</label>
        <locationX>1594</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Alldonereview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoEdit</defaultConnectorLabel>
        <rules>
            <name>YesEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_wish_to_edit_this_test_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditTest</targetReference>
            </connector>
            <label>YesEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review</name>
        <label>Review</label>
        <locationX>898</locationX>
        <locationY>37</locationY>
        <defaultConnector>
            <targetReference>Sequence_to_Zero_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ReviewYes</defaultConnectorLabel>
        <rules>
            <name>ReviewNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_review_your_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome</targetReference>
            </connector>
            <label>ReviewNo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UATChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UAT__c</object>
        <outputAssignments>
            <assignToReference>UATED</assignToReference>
            <field>End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UATId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Link</assignToReference>
            <field>Link__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UATName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductOwner</assignToReference>
            <field>ProdOwnerFN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sandbox</assignToReference>
            <field>Sandbox__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UATSD</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TechnicalOwner</assignToReference>
            <field>TechOwnerFN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UATDescription</assignToReference>
            <field>Test_Scenario_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sequencenumber</assignToReference>
            <field>UAT_Scenario_Total_Number__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <label>UAT Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Test_Result_Review</name>
        <label>Test Result Review</label>
        <locationX>1174</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayReview</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UAT_Scenario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScenarioId</elementReference>
            </value>
        </filters>
        <object>UAT_Result__c</object>
        <outputAssignments>
            <assignToReference>TestComent</assignToReference>
            <field>Comment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TestResultReview</assignToReference>
            <field>Result__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Test_Review_Scenario</name>
        <label>Test Review Scenario</label>
        <locationX>1173</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Result_Review</targetReference>
        </connector>
        <filters>
            <field>Scenario_Sequence_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sequence</elementReference>
            </value>
        </filters>
        <filters>
            <field>UAT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UATId</elementReference>
            </value>
        </filters>
        <object>UAT_Scenario__c</object>
        <outputAssignments>
            <assignToReference>BlankSpaceDisp</assignToReference>
            <field>BlankSpace__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DataToBeUsed</assignToReference>
            <field>Data_to_be_Used__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ScenarioName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultExpected</assignToReference>
            <field>Result_Expected__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TestScenario</assignToReference>
            <field>Scenario__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StepToExecute</assignToReference>
            <field>Steps_to_Execute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ScenarioId</assignToReference>
            <field>scID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UATResultLookup</name>
        <label>UATResultLookup</label>
        <locationX>99</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckandResume</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UAT_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UATId</elementReference>
            </value>
        </filters>
        <object>UAT_Result__c</object>
        <outputAssignments>
            <assignToReference>Sequence</assignToReference>
            <field>Sequence_Number__c</field>
        </outputAssignments>
        <sortField>Sequence_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>AllReviewdone</name>
        <label>AllReviewdone</label>
        <locationX>1591</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReviewDone</name>
            <fieldText>Congratulations !

You have reviewed all the tests made for this UAT.

Thank you !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayReview</name>
        <label>DisplayReview</label>
        <locationX>1406</locationX>
        <locationY>422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EditRecord</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BSPDSP1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Scenario:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!TestScenario}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BSPDSP2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>STE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Step to Execute:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!StepToExecute}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BSPDSP3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DTBU</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Data to be Used:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!DataToBeUsed}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BSPDSP4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RTBE</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Result to be expected:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ResultExpected}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BSPDSP5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayDataforReview</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Result: &lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;{!TestResultReview}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Comment:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!TestComent}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_wish_to_edit_this_test_result</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>I wish to edit this test result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finished</name>
        <label>finished</label>
        <locationX>898</locationX>
        <locationY>174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review</targetReference>
        </connector>
        <fields>
            <name>FinishedWelcome</name>
            <fieldText>Congratulations, all tests have been filled !</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_review_your_results</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to review your results ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UAT_Confirmation_Screen</name>
        <label>UAT Confirmation Screen</label>
        <locationX>99</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UATResultLookup</targetReference>
        </connector>
        <fields>
            <name>UATInfonConfirmation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have chosen to participate in the &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!UATName}&lt;/B&gt; &lt;/FONT&gt;UAT with below information:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Desc</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Description:&lt;/U&gt;&lt;/B&gt; &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!UATDescription}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sandboxdisp</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Number of tests:&lt;/U&gt;&lt;/B&gt; {!Sequencenumber}&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Sandbox:&lt;/U&gt;&lt;/B&gt; {!Sandbox}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OwnerPT</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Product Owner:&lt;/U&gt;&lt;/B&gt; {!ProductOwner}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Technical Owner:&lt;/U&gt;&lt;/B&gt; {!TechnicalOwner}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmptyBSD</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Start date:&lt;/U&gt;&lt;/B&gt; {!UATSD}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;End date:&lt;/U&gt;&lt;/B&gt; {!UATED}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Empty6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CredentialAndData</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please &lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;A HREF=&quot;{!Link}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;HERE&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt; to download file with Credential and Data table&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;By pressing the &amp;quot;&lt;B&gt;Next&lt;/B&gt;&amp;quot; button, you will be taken to the tests.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>98</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UAT_Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>Welcome !

Please select the UAT you wish to participate in</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Available_UAT_Dropdown</name>
            <choiceReferences>UATChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available UAT</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome</startElementReference>
    <status>Active</status>
    <subflows>
        <name>EditTest</name>
        <label>EditTest</label>
        <locationX>1863</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Alldonereview</targetReference>
        </connector>
        <flowName>EditTest</flowName>
        <inputAssignments>
            <name>DataToBeUsed</name>
            <value>
                <elementReference>DataToBeUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultExpected</name>
            <value>
                <elementReference>ResultExpected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScenarioId</name>
            <value>
                <elementReference>ScenarioId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ScenarioName</name>
            <value>
                <elementReference>ScenarioName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepTiExecute</name>
            <value>
                <elementReference>StepToExecute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TestComent</name>
            <value>
                <elementReference>TestComent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TestId</name>
            <value>
                <elementReference>TestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>testresultreview</name>
            <value>
                <elementReference>TestResultReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TestScenario</name>
            <value>
                <elementReference>TestScenario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BlankSpaceField</name>
            <value>
                <elementReference>BlankSpaceDisp</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TestID</assignToReference>
            <name>TestId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ScenarioDisplaynTestRec</name>
        <label>ScenarioDisplaynTestRec</label>
        <locationX>896</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>AllDoneTest</targetReference>
        </connector>
        <flowName>ScenarioHandler</flowName>
        <inputAssignments>
            <name>UATiD</name>
            <value>
                <elementReference>UATId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Sequence</name>
            <value>
                <elementReference>Sequence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sequencenumber</name>
            <value>
                <elementReference>Sequencenumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Sequence</assignToReference>
            <name>Sequence</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UATId</assignToReference>
            <name>UATiD</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BlankSpaceDisp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataToBeUsed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Link</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultExpected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Sandbox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScenarioId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScenarioName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Sequencenumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StepToExecute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicalOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestComent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestResultReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestScenario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UATDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UATED</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UATId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UATName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UATSD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
